In [1]:
%matplotlib inline

# Built-in
import csv
import os
import re

# Scientific/ML libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm


# IPython display
from IPython.display import Markdown, display

# Scipy
from scipy.stats import chi2_contingency

# Scikit-learn
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.multioutput import MultiOutputClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# AIF360 fairness library
from aif360.datasets import BinaryLabelDataset
from aif360.explainers import MetricTextExplainer
from aif360.metrics import BinaryLabelDatasetMetric, ClassificationMetric
from aif360.algorithms.preprocessing import Reweighing, DisparateImpactRemover
from aif360.algorithms.inprocessing import AdversarialDebiasing
from aif360.algorithms.postprocessing import EqOddsPostprocessing, RejectOptionClassification
from aif360.algorithms.postprocessing.calibrated_eq_odds_postprocessing import CalibratedEqOddsPostprocessing

# TensorFlow

# Seed for reproducibility
np.random.seed(1)

WARNING:root:No module named 'tensorflow.python': AdversarialDebiasing will be unavailable. To install, run:
pip install 'aif360[AdversarialDebiasing]'
WARNING:root:No module named 'tensorflow.python': AdversarialDebiasing will be unavailable. To install, run:
pip install 'aif360[AdversarialDebiasing]'
WARNING:root:No module named 'fairlearn': ExponentiatedGradientReduction will be unavailable. To install, run:
pip install 'aif360[Reductions]'
WARNING:root:No module named 'fairlearn': GridSearchReduction will be unavailable. To install, run:
pip install 'aif360[Reductions]'
WARNING:root:No module named 'inFairness': SenSeI and SenSR will be unavailable. To install, run:
pip install 'aif360[inFairness]'
WARNING:root:No module named 'fairlearn': GridSearchReduction will be unavailable. To install, run:
pip install 'aif360[Reductions]'

## 1. Loading and Initial Data Exploration

In [2]:
df_original = pd.read_csv('dataset/diabetic_data.csv')
df_original.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [3]:
df = df_original.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      101766 non-null  object
 3   gender                    101766 non-null  object
 4   age                       101766 non-null  object
 5   weight                    101766 non-null  object
 6   admission_type_id         101766 non-null  int64
 7   discharge_disposition_id  101766 non-null  int64
 8   admission_source_id       101766 non-null  int64
 9   time_in_hospital          101766 non-null  int64
 10  payer_code                101766 non-null  object
 11  medical_specialty         101766 non-null  object
 12  num_lab_procedures        101766 non-null  int64
 13  num_procedures            101766 non-null  int64
 14  num_medications           101766 non-null  int64
 15  number_outpatient         101766 non-null  int64
 16  number_emergency          101766 non-null  int64
 17  number_inpatient          101766 non-null  int64
 18  diag_1                    101766 non-null  object
 19  diag_2                    101766 non-null  object
 20  diag_3                    101766 non-null  object
 21  number_diagnoses          101766 non-null  int64
 22  max_glu_serum             5346 non-null    object
 23  A1Cresult                 17018 non-null   object
 24  metformin                 101766 non-null  object
 25  repaglinide               101766 non-null  object
 26  nateglinide               101766 non-null  object
 27  chlorpropamide            101766 non-null  object
 28  glimepiride               101766 non-null  object
 29  acetohexamide             101766 non-null  object
 30  glipizide                 101766 non-null  object
 31  glyburide                 101766 non-null  object
 32  tolbutamide               101766 non-null  object
 33  pioglitazone              101766 non-null  object
 34  rosiglitazone             101766 non-null  object
 35  acarbose                  101766 non-null  object
 36  miglitol                  101766 non-null  object
 37  troglitazone              101766 non-null  object
 38  tolazamide                101766 non-null  object
 39  examide                   101766 non-null  object
 40  citoglipton               101766 non-null  object
 41  insulin                   101766 non-null  object
 42  glyburide-metformin       101766 non-null  object
 43  glipizide-metformin       101766 non-null  object
 44  glimepiride-pioglitazone  101766 non-null  object
 45  metformin-rosiglitazone   101766 non-null  object
 46  metformin-pioglitazone    101766 non-null  object
 47  change                    101766 non-null  object
 48  diabetesMed               101766 non-null  object
 49  readmitted                101766 non-null  object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

In [4]:
df['race'].describe()
df['gender'].describe()
df['age'].describe()
df.describe()

,encounter_id,patient_nbr,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
count,1.017660e+05,1.017660e+05,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000
mean,1.652016e+08,5.433040e+07,2.024006,3.715642,5.754437,4.395987,43.095641,1.339730,16.021844,0.369357,0.197836,0.635566,7.422607
std,1.026403e+08,3.869636e+07,1.445403,5.280166,4.064081,2.985108,19.674362,1.705807,8.127566,1.267265,0.930472,1.262863,1.933600
min,1.252200e+04,1.350000e+02,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,8.496119e+07,2.341322e+07,1.000000,1.000000,1.000000,2.000000,31.000000,0.000000,10.000000,0.000000,0.000000,0.000000,6.000000
50%,1.523890e+08,4.550514e+07,1.000000,1.000000,7.000000,4.000000,44.000000,1.000000,15.000000,0.000000,0.000000,0.000000,8.000000
75%,2.302709e+08,8.754595e+07,3.000000,4.000000,7.000000,6.000000,57.000000,2.000000,20.000000,0.000000,0.000000,1.000000,9.000000
max,4.438672e+08,1.895026e+08,8.000000,28.000000,25.000000,14.000000,132.000000,6.000000,81.000000,42.000000,76.000000,21.000000,16.000000

# 2. Data Cleaning

### Removing NaN

In [5]:
df.columns = df.columns.str.strip()

In [6]:
print(df['gender'].unique())

['Female' 'Male' 'Unknown/Invalid']

In [7]:
print(df['gender'][df['gender'] == 'Unknown/Invalid'].count())

3

In [8]:
df = df[df['gender'] != 'Unknown/Invalid']

In [9]:
print(df['age'].unique())

['[0-10)' '[10-20)' '[20-30)' '[30-40)' '[40-50)' '[50-60)' '[60-70)'
 '[70-80)' '[80-90)' '[90-100)']

In [10]:
print(df['race'].unique())

['Caucasian' 'AfricanAmerican' '?' 'Other' 'Asian' 'Hispanic']

In [11]:
print(df['race'][df['race'] == '?'].count())

2271

In [12]:
# Small value, can remove
df = df[df['race'] != '?']

In [13]:
# Target column
print(df['readmitted'].unique())
readmit_counts = df['readmitted'].value_counts()

# Prints the counts
print(readmit_counts)

['NO' '>30' '<30']
readmitted
NO     53316
>30    35007
<30    11169
Name: count, dtype: int64

In [14]:
for col in df.columns:
    if df[col].dtype == 'object':
        print(col, df[col][df[col] == '?'].count())

race 0
gender 0
age 0
weight 96433
payer_code 39711
medical_specialty 48766
diag_1 19
diag_2 336
diag_3 1349
max_glu_serum 0
A1Cresult 0
metformin 0
repaglinide 0
nateglinide 0
chlorpropamide 0
glimepiride 0
acetohexamide 0
glipizide 0
glyburide 0
tolbutamide 0
pioglitazone 0
rosiglitazone 0
acarbose 0
miglitol 0
troglitazone 0
tolazamide 0
examide 0
citoglipton 0
insulin 0
glyburide-metformin 0
glipizide-metformin 0
glimepiride-pioglitazone 0
metformin-rosiglitazone 0
metformin-pioglitazone 0
change 0
diabetesMed 0
readmitted 0

In [ ]:
# removing features with high numbers of missing values
# does not get rid of A1C result since it is regarded as an important characteristics
df = df.drop(['encounter_id', 'patient_nbr', 'weight','payer_code'], axis='columns')
df.head()

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,medical_specialty,num_lab_procedures,num_procedures,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,Caucasian,Female,[0-10),6,25,1,1,Pediatrics-Endocrinology,41,0,...,No,No,No,No,No,No,No,No,No,NO
1,Caucasian,Female,[10-20),1,1,7,3,?,59,0,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,AfricanAmerican,Female,[20-30),1,1,7,2,?,11,5,...,No,No,No,No,No,No,No,No,Yes,NO
3,Caucasian,Male,[30-40),1,1,7,2,?,44,1,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,Caucasian,Male,[40-50),1,1,7,1,?,51,0,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [16]:
# Drop NaNs
df = df.dropna(subset=['diag_1', 'diag_2', 'diag_3'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99492 entries, 0 to 101765
Data columns (total 46 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   race                      99492 non-null  object
 1   gender                    99492 non-null  object
 2   age                       99492 non-null  object
 3   admission_type_id         99492 non-null  int64
 4   discharge_disposition_id  99492 non-null  int64
 5   admission_source_id       99492 non-null  int64
 6   time_in_hospital          99492 non-null  int64
 7   medical_specialty         99492 non-null  object
 8   num_lab_procedures        99492 non-null  int64
 9   num_procedures            99492 non-null  int64
 10  num_medications           99492 non-null  int64
 11  number_outpatient         99492 non-null  int64
 12  number_emergency          99492 non-null  int64
 13  number_inpatient          99492 non-null  int64
 14  diag_1                    99492 non-null  object
 15  diag_2                    99492 non-null  object
 16  diag_3                    99492 non-null  object
 17  number_diagnoses          99492 non-null  int64
 18  max_glu_serum             5290 non-null   object
 19  A1Cresult                 16596 non-null  object
 20  metformin                 99492 non-null  object
 21  repaglinide               99492 non-null  object
 22  nateglinide               99492 non-null  object
 23  chlorpropamide            99492 non-null  object
 24  glimepiride               99492 non-null  object
 25  acetohexamide             99492 non-null  object
 26  glipizide                 99492 non-null  object
 27  glyburide                 99492 non-null  object
 28  tolbutamide               99492 non-null  object
 29  pioglitazone              99492 non-null  object
 30  rosiglitazone             99492 non-null  object
 31  acarbose                  99492 non-null  object
 32  miglitol                  99492 non-null  object
 33  troglitazone              99492 non-null  object
 34  tolazamide                99492 non-null  object
 35  examide                   99492 non-null  object
 36  citoglipton               99492 non-null  object
 37  insulin                   99492 non-null  object
 38  glyburide-metformin       99492 non-null  object
 39  glipizide-metformin       99492 non-null  object
 40  glimepiride-pioglitazone  99492 non-null  object
 41  metformin-rosiglitazone   99492 non-null  object
 42  metformin-pioglitazone    99492 non-null  object
 43  change                    99492 non-null  object
 44  diabetesMed               99492 non-null  object
 45  readmitted                99492 non-null  object
dtypes: int64(11), object(35)
memory usage: 35.7+ MB

In [17]:
# Replace dashes with underscores
df.columns = df.columns.str.replace('-', '_')

# 3. Encoding Dataset

In [18]:
df_encoded = df.copy()
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99492 entries, 0 to 101765
Data columns (total 46 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   race                      99492 non-null  object
 1   gender                    99492 non-null  object
 2   age                       99492 non-null  object
 3   admission_type_id         99492 non-null  int64
 4   discharge_disposition_id  99492 non-null  int64
 5   admission_source_id       99492 non-null  int64
 6   time_in_hospital          99492 non-null  int64
 7   medical_specialty         99492 non-null  object
 8   num_lab_procedures        99492 non-null  int64
 9   num_procedures            99492 non-null  int64
 10  num_medications           99492 non-null  int64
 11  number_outpatient         99492 non-null  int64
 12  number_emergency          99492 non-null  int64
 13  number_inpatient          99492 non-null  int64
 14  diag_1                    99492 non-null  object
 15  diag_2                    99492 non-null  object
 16  diag_3                    99492 non-null  object
 17  number_diagnoses          99492 non-null  int64
 18  max_glu_serum             5290 non-null   object
 19  A1Cresult                 16596 non-null  object
 20  metformin                 99492 non-null  object
 21  repaglinide               99492 non-null  object
 22  nateglinide               99492 non-null  object
 23  chlorpropamide            99492 non-null  object
 24  glimepiride               99492 non-null  object
 25  acetohexamide             99492 non-null  object
 26  glipizide                 99492 non-null  object
 27  glyburide                 99492 non-null  object
 28  tolbutamide               99492 non-null  object
 29  pioglitazone              99492 non-null  object
 30  rosiglitazone             99492 non-null  object
 31  acarbose                  99492 non-null  object
 32  miglitol                  99492 non-null  object
 33  troglitazone              99492 non-null  object
 34  tolazamide                99492 non-null  object
 35  examide                   99492 non-null  object
 36  citoglipton               99492 non-null  object
 37  insulin                   99492 non-null  object
 38  glyburide_metformin       99492 non-null  object
 39  glipizide_metformin       99492 non-null  object
 40  glimepiride_pioglitazone  99492 non-null  object
 41  metformin_rosiglitazone   99492 non-null  object
 42  metformin_pioglitazone    99492 non-null  object
 43  change                    99492 non-null  object
 44  diabetesMed               99492 non-null  object
 45  readmitted                99492 non-null  object
dtypes: int64(11), object(35)
memory usage: 35.7+ MB

In [19]:

# Gender
df_encoded['gender'] = df_encoded['gender'].map({'Female': 0, 'Male': 1})

# Race
df_encoded = pd.get_dummies(df_encoded, columns=['race'], prefix='race', drop_first=False)
df_encoded.insert(0, 'race', df['race'])
df_encoded['race'] = df_encoded['race'].map({'Other':0, 'AfricanAmerican': 1,'Asian': 2, 'Caucasian': 3, 'Hispanic': 4})

# Set new columns as 0/1 values for race
df_encoded = df_encoded.astype({'race_Caucasian': 'int', 'race_AfricanAmerican': 'int', 'race_Asian': 'int', 'race_Hispanic': 'int', 'race_Other': 'int'})


print(df_encoded[['gender', 'race', 'race_Caucasian', 'race_AfricanAmerican', 'race_Asian', 'race_Hispanic', 'race_Other']].head())

   gender  race  race_Caucasian  race_AfricanAmerican  race_Asian  \
0       0     3               1                     0           0
1       0     3               1                     0           0
2       0     1               0                     1           0
3       1     3               1                     0           0
4       1     3               1                     0           0

   race_Hispanic  race_Other
0              0           0
1              0           0
2              0           0
3              0           0
4              0           0

In [20]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99492 entries, 0 to 101765
Data columns (total 51 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   race                      99492 non-null  int64
 1   gender                    99492 non-null  int64
 2   age                       99492 non-null  object
 3   admission_type_id         99492 non-null  int64
 4   discharge_disposition_id  99492 non-null  int64
 5   admission_source_id       99492 non-null  int64
 6   time_in_hospital          99492 non-null  int64
 7   medical_specialty         99492 non-null  object
 8   num_lab_procedures        99492 non-null  int64
 9   num_procedures            99492 non-null  int64
 10  num_medications           99492 non-null  int64
 11  number_outpatient         99492 non-null  int64
 12  number_emergency          99492 non-null  int64
 13  number_inpatient          99492 non-null  int64
 14  diag_1                    99492 non-null  object
 15  diag_2                    99492 non-null  object
 16  diag_3                    99492 non-null  object
 17  number_diagnoses          99492 non-null  int64
 18  max_glu_serum             5290 non-null   object
 19  A1Cresult                 16596 non-null  object
 20  metformin                 99492 non-null  object
 21  repaglinide               99492 non-null  object
 22  nateglinide               99492 non-null  object
 23  chlorpropamide            99492 non-null  object
 24  glimepiride               99492 non-null  object
 25  acetohexamide             99492 non-null  object
 26  glipizide                 99492 non-null  object
 27  glyburide                 99492 non-null  object
 28  tolbutamide               99492 non-null  object
 29  pioglitazone              99492 non-null  object
 30  rosiglitazone             99492 non-null  object
 31  acarbose                  99492 non-null  object
 32  miglitol                  99492 non-null  object
 33  troglitazone              99492 non-null  object
 34  tolazamide                99492 non-null  object
 35  examide                   99492 non-null  object
 36  citoglipton               99492 non-null  object
 37  insulin                   99492 non-null  object
 38  glyburide_metformin       99492 non-null  object
 39  glipizide_metformin       99492 non-null  object
 40  glimepiride_pioglitazone  99492 non-null  object
 41  metformin_rosiglitazone   99492 non-null  object
 42  metformin_pioglitazone    99492 non-null  object
 43  change                    99492 non-null  object
 44  diabetesMed               99492 non-null  object
 45  readmitted                99492 non-null  object
 46  race_AfricanAmerican      99492 non-null  int64
 47  race_Asian                99492 non-null  int64
 48  race_Caucasian            99492 non-null  int64
 49  race_Hispanic             99492 non-null  int64
 50  race_Other                99492 non-null  int64
dtypes: int64(18), object(33)
memory usage: 39.5+ MB

In [21]:
age_mapping = {
    '[0-10)': 5,
    '[10-20)': 15,
    '[20-30)': 25,
    '[30-40)': 35,
    '[40-50)': 45,
    '[50-60)': 55,
    '[60-70)': 65,
    '[70-80)': 75,
    '[80-90)': 85,
    '[90-100)': 95
}

df_encoded['age'] = df_encoded['age'].map(age_mapping)

print(df_encoded[['age']].head())

   age
0    5
1   15
2   25
3   35
4   45

In [22]:
for col in df_encoded.columns:
    print(f"Column: {col}")
    print(df_encoded[col].unique())
    print("-" * 50)

Column: race
[3 1 0 2 4]
--------------------------------------------------
Column: gender
[0 1]
--------------------------------------------------
Column: age
[ 5 15 25 35 45 55 65 75 85 95]
--------------------------------------------------
Column: admission_type_id
[6 1 2 3 4 5 8 7]
--------------------------------------------------
Column: discharge_disposition_id
[25  1  3  6  2  5 11  7 10  4 14 18  8 13 12 16 17 22 23  9 20 15 24 28
 19 27]
--------------------------------------------------
Column: admission_source_id
[ 1  7  2  4  5  6 20  3 17  8  9 14 10 22 11 25 13]
--------------------------------------------------
Column: time_in_hospital
[ 1  3  2  4  5 13 12  9  7 10 11  6  8 14]
--------------------------------------------------
Column: medical_specialty
['Pediatrics-Endocrinology' '?' 'InternalMedicine'
 'Family/GeneralPractice' 'Cardiology' 'Surgery-General' 'Orthopedics'
 'Gastroenterology' 'Surgery-Cardiovascular/Thoracic' 'Nephrology'
 'Orthopedics-Reconstructive' 'Psychiatry' 'Emergency/Trauma'
 'Pulmonology' 'Surgery-Neuro' 'Obsterics&Gynecology-GynecologicOnco'
 'ObstetricsandGynecology' 'Pediatrics' 'Otolaryngology'
 'Surgery-Colon&Rectal' 'Pediatrics-CriticalCare' 'Endocrinology'
 'Hematology/Oncology' 'Urology' 'Psychiatry-Child/Adolescent'
 'Pediatrics-Pulmonology' 'Neurology' 'Anesthesiology-Pediatric'
 'Radiology' 'Pediatrics-Hematology-Oncology' 'Psychology' 'Podiatry'
 'Gynecology' 'Oncology' 'Pediatrics-Neurology' 'Surgery-Plastic'
 'Surgery-Thoracic' 'Surgery-PlasticwithinHeadandNeck' 'Ophthalmology'
 'Surgery-Pediatric' 'Pediatrics-EmergencyMedicine'
 'PhysicalMedicineandRehabilitation' 'InfectiousDiseases' 'Anesthesiology'
 'Rheumatology' 'AllergyandImmunology' 'Surgery-Maxillofacial'
 'Pediatrics-InfectiousDiseases' 'Pediatrics-AllergyandImmunology'
 'Dentistry' 'Surgeon' 'Surgery-Vascular' 'Osteopath'
 'Psychiatry-Addictive' 'Surgery-Cardiovascular' 'PhysicianNotFound'
 'Hematology' 'Proctology' 'Obstetrics' 'SurgicalSpecialty' 'Radiologist'
 'Pathology' 'Dermatology' 'SportsMedicine' 'Speech' 'Hospitalist'
 'OutreachServices' 'Cardiology-Pediatric' 'Perinatology'
 'Neurophysiology' 'Endocrinology-Metabolism' 'DCPTEAM' 'Resident']
--------------------------------------------------
Column: num_lab_procedures
[ 41  59  11  44  51  31  70  73  68  33  47  62  60  55  49  75  45  29
  35  42  19  64  25  53  52  87  27  37  46  28  36  48  72  10   2  65
  67  40  58  57  32  83  34  39  69  38  56  22  96  78  61  88  66  43
  50   1  18  82  54   9  63  24  71  77  81  76  90  93   3 103  13  80
  85  16  15  12  30  23  17  21  79  26  95  97  84  14  74 105  86  98
  20   5   6  94   8 102 100   7  89  91  92   4 101  99 114 113 111 129
 107 108 106 104 109 120 132 121 126 118]
--------------------------------------------------
Column: num_procedures
[0 5 1 6 2 3 4]
--------------------------------------------------
Column: num_medications
[ 1 18 13 16  8 21 12 28 17 11 15 31  2 23 19  7 20 14 10 22  9 27 25  4
 32  6 30 26 24 33  5 39  3 29 61 40 46 41 36 34 35 50 43 42 37 51 38 45
 54 52 49 62 55 47 44 48 57 53 59 56 63 58 70 67 64 60 69 65 68 66 81 79
 75 72 74]
--------------------------------------------------
Column: number_outpatient
[ 0  2  1  5  7  9  3  8  4 12 11  6 20 15 10 13 14 16 21 35 17 29 36 18
 19 27 22 24 42 39 34 26 33 25 23 28 37 38 40]
--------------------------------------------------
Column: number_emergency
[ 0  1  2  4  3  9  5  7  6  8 22 25 10 13 42 16 11 28 15 14 18 12 21 20
 19 46 76 37 64 63 54 24 29]
--------------------------------------------------
Column: number_inpatient
[ 0  1  2  3  6  5  4  7  8  9 15 10 11 14 12 13 17 16 21 18 19]
--------------------------------------------------
Column: diag_1
['250.83' '276' '648' '8' '197' '414' '428' '398' '434' '250.7' '157'
 '518' '999' '410' '682' '402' 'V57' '189' '786' '427' '996' '277' '584'
 '462' '473' '411' '174' '486' '998' '511' '432' '626' '295' '196' '250.6'
 '182' '845' '423' '808' '250.4' '722' '403' '250.11' '784' '707' '440'
 '151' '715' '997' '198' '564' '38' '590' '578' '250.32' '433' '569' '185'
 '536' '255' '250.13' '599' '558' '574' '491' '560' '244' '250.03' '577'
 '730' '188' '824' '250.8' '332' '562' '291' '296' '510' '401' '263' '438'
 '70' '250.02' '493' '642' '571' '738' '593' '618' '250.42' '807' '456'
 '446' '572' '575' '250.41' '820' '515' '780' '250.22' '995' '235'
 '250.82' '721' '787' '556' '162' '724' '282' '514' 'V55' '281' '250.33'
 '530' '466' '435' '250.12' 'V53' '789' '566' '822' '191' '557' '733'
 '455' '711' '482' '202' '280' '553' '154' '441' '250.81' '349' '?' '962'
 '592' '507' '386' '156' '200' '728' '459' '426' '607' '337' '82' '531'
 '812' '225' '596' '288' 'V58' '656' '573' '492' '220' '516' '210' '922'
 '286' '885' '958' '661' '969' '250.93' '227' '112' '404' '823' '532'
 '416' '346' '535' '453' '250' '595' '211' '303' '250.01' '852' '218'
 '540' '457' '285' '431' '340' '550' '351' '601' '723' '555' '153' '443'
 '380' '204' '424' '241' '358' '694' '331' '345' '681' '447' '290' '158'
 '579' '436' '335' '309' '654' '805' '799' '292' '183' '78' '851' '458'
 '586' '311' '54' '892' '305' '293' '415' '591' '794' '803' '79' '429'
 '278' '658' '598' '729' '585' '444' '604' '727' '214' '552' '284' '680'
 '708' '41' '644' '481' '821' '413' '437' '968' '756' '632' '782' '359'
 '275' '512' '781' '420' '368' '522' '737' '294' '825' '135' '304' '320'
 '250.31' '669' '868' '496' '250.43' '826' '567' '3' '203' '53' '251'
 '565' '495' '49' '250.1' '297' '663' '576' '355' '850' '287' '250.2'
 '611' '348' '840' '350' '726' '537' '620' '180' '366' '783' '11' '751'
 '716' '250.3' '199' '464' '580' '836' '664' '283' '966' '289' '965' '184'
 '480' '608' '333' '972' '212' '117' '788' '625' '924' '959' '621' '238'
 '785' '714' '942' '250.23' '710' '47' '933' '508' '478' '844' '7' '233'
 '42' '250.5' '397' '395' '201' '421' '253' '250.92' '600' '494' '977'
 '39' '659' '312' '614' '647' '652' '646' '274' '861' '425' '527' '451'
 '485' '217' '250.53' '442' '970' '193' '160' '322' '581' '475' '623'
 '374' '582' '568' '465' '801' '237' '376' '150' '461' '913' '226' '617'
 '987' '641' '298' '790' '336' '362' '228' '513' '383' '746' '353' '911'
 '506' '873' '155' '860' '534' '802' '141' 'V45' '310' '341' '242' '719'
 '736' '239' '533' '616' '519' '301' 'V66' '5' '989' '230' '300' '853'
 '871' '570' '848' '463' '9' '934' '250.21' '361' '594' '810' '643' '430'
 '528' '205' '791' '983' '992' '490' '396' '172' '171' '622' '306' '863'
 '864' '474' '660' '759' '356' '634' '967' '551' '695' '187' '732' '747'
 '323' '308' '370' '252' '152' '846' '164' '365' '718' '48' '266' '720'
 '94' '161' '344' '797' '813' '170' '878' '904' 'V56' '882' '843' '709'
 '973' '454' '686' '939' '487' '229' '991' '483' '357' '692' '796' '693'
 '935' '936' '800' '920' 'V26' '261' '307' '262' '250.9' '831' '145' '388'
 '223' 'V71' '839' '685' 'V54' '655' '35' '34' '179' '964' '136' '324'
 '389' '815' '334' '143' '526' '588' '192' 'V67' '394' '917' '88' '219'
 '325' '501' '792' '717' '994' '990' '793' '207' '637' '195' '373' '847'
 '827' '31' '891' '814' 'V60' '703' '865' '352' '627' '378' '342' '886'
 '369' '745' '705' '816' '541' '986' '610' '633' '640' '753' '173' '835'
 '379' '445' '272' '945' '619' '881' '250.52' '866' '405' '916' '215'
 '893' '75' '928' '906' '897' '725' '867' '115' '734' '521' '674' '470'
 '834' '146' '696' '524' '980' '691' '384' '142' '879' '250.51' '246'
 '208' '448' '955' '653' '149' '245' '735' '883' '854' '952' '838' '194'
 'V43' '163' '216' '147' '354' '27' '477' '318' '880' '921' '890' '377'
 '471' '683' '175' '602' '250.91' '982' '382' '706' '375' '417' '131'
 '347' '385' '870' '148' '862' '61' '817' '914' '360' '684' '314' 'V63'
 '36' '57' '240' '915' '971' '795' '988' '452' '963' '327' '731' '842'
 'V25' '645' '665' '110' '944' '603' '923' '412' '363' '957' '976' '698'
 '299' '700' '273' '974' '97' '529' '66' '98' '605' '941' '806' '84' '271'
 '837' '657' '895' '338' '523' '542' '114' '543' '372' 'V70' 'E909' '583'
 'V07' '422' '615' '279' '500' '919' '875' '236' '381' '804' '704' '23'
 '58' '649' '832' '133' '975' '833' '391' '690' '10' '52' 'V51']
--------------------------------------------------
Column: diag_2
['?' '250.01' '250' '250.43' '157' '411' '492' '427' '198' '403' '288'
 '998' '507' '174' '425' '401' '715' '496' '428' '585' '250.02' '410'
 '999' '996' '135' '244' '41' '571' '276' '997' '599' '424' '491' '553'
 '707' '286' '440' '493' '242' '70' 'V45' '250.03' '357' '511' '196' '396'
 '197' '414' '250.52' '577' '535' '413' '53' '780' '518' '566' '250.6'
 '867' '285' '486' 'V15' '8' '788' '340' '574' '581' '228' '530' '250.82'
 '786' '294' '567' '785' '512' '305' '250.51' '280' '648' '560' '444' '38'
 'V10' '578' '277' '781' '250.42' '278' '426' '584' '462' '402' '153'
 '272' '733' '34' '881' '203' '250.41' '250.13' '729' '293' '245' '250.12'
 '558' '787' '342' '573' '626' '303' '250.53' '458' '710' '415' 'V42'
 '284' '569' '759' '682' '112' '292' '435' '290' '250.93' '642' '536'
 '398' '319' '711' 'E878' '446' '255' 'V44' '250.7' '300' '562' '162'
 '287' '447' '789' '790' '591' '200' '154' '304' '117' '847' '852'
 '250.83' '250.11' '816' '575' '416' '412' '441' '515' '372' '482' '382'
 '456' 'V65' '572' '283' '78' '250.81' '576' '432' '295' 'V12' '204' '466'
 '721' '434' '590' '271' '813' '368' '227' '783' '250.5' '258' '253' '309'
 '250.91' '519' '333' '250.92' '250.4' '179' '420' '345' '433' '661' '537'
 '205' '722' '405' '437' '784' '714' '211' 'E812' '263' '202' '397'
 '250.23' 'E932' '201' '301' '723' '614' '568' '861' 'V57' '724' '189'
 '297' '453' 'E888' '730' '354' '150' '451' '738' 'E939' '805' 'V43' '155'
 '910' '218' '358' '220' 'E937' '583' '958' '794' '564' '436' '250.22'
 '620' '621' '331' '617' '596' '314' '378' '250.8' '625' '478' '731' '172'
 '404' '681' '470' '279' '281' '531' '443' '799' '337' '311' '719' 'E944'
 '423' 'E870' '465' 'E849' '782' '481' '480' 'V23' '199' '79' '438' '348'
 '42' 'E950' '473' '627' '726' '54' '490' '317' '332' '508' '369' '600'
 '349' '485' '208' '922' '431' '296' 'E934' '753' 'E935' '386' '728' '607'
 'E915' '344' '289' '191' '873' '850' '611' '377' '352' '616' 'V17' '136'
 '455' '933' 'E885' '860' '513' '603' '484' '223' 'V72' '291' '151' 'V58'
 '550' '510' '891' '185' '592' '791' '138' '598' '336' '362' '217' '825'
 '298' '821' 'E880' '343' '429' '716' 'E879' '579' '225' '250.9' 'V49'
 '696' '658' '969' '275' '595' '618' '250.1' '601' '704' '808' 'E890'
 'V18' '920' '380' '570' 'E817' '359' '812' '274' 'V14' '324' '758' 'V66'
 '911' 'E931' 'E924' '593' '792' '727' 'V46' '394' '532' 'V64' '557' '864'
 '718' '459' 'E942' '807' '604' '924' '820' '580' '273' '241' '282' '824'
 'V61' '646' '701' '736' '565' '383' '250.2' 'E947' '452' '872' '905'
 'E930' '921' '131' '389' '421' '705' '494' '752' '623' '9' '299' '959'
 '365' '967' 'E858' '40' '691' '5' '814' '746' '250.31' '556' '680' '745'
 '351' '306' '695' '552' '346' '918' '882' '947' '520' '188' '31' '356'
 '737' 'V08' '322' '182' '517' '974' 'E929' 'V53' '912' '252' '608' '516'
 'E933' '94' '702' '923' '594' '647' '111' '934' '430' '487' '709' '796'
 '156' '977' '915' '756' '840' '341' '259' '693' '725' 'V62' '528' '683'
 '953' '457' '501' 'E900' 'V09' '522' '919' '461' '506' '483' 'E936' '802'
 '335' 'V54' '320' '945' '906' '239' '454' '826' '823' 'E941' '226' '795'
 '684' '844' '250.33' '308' '615' '588' '712' '663' '706' '833' '741'
 '713' '533' 'E884' '233' '586' '214' '555' '717' '755' 'E928' '742' '869'
 '962' '110' 'V11' '543' '373' '870' '913' '152' '810' '965' '907' '908'
 '995' '845' '474' '442' '751' '323' '472' '464' '686' '250.32' '540'
 '251' '811' '652' '659' '851' '422' '815' '325' '463' '992' '692' '521'
 '917' '524' '916' '193' 'E813' '173' '238' '137' '514' '312' '837' '355'
 '622' '475' '500' '754' '261' '801' '868' '307' '968' '381' '11' '250.21'
 '694' '610' '734' 'E814' '310' '130' '246' '892' '846' '634' '75' 'E927'
 'E905' '183' '379' 'E917' '163' 'E868' '495' '747' '989' 'E854' '240'
 '832' '605' '602' '644' 'V16' '35' 'V70' '376' '266' 'E918' '619' '477'
 '656' '46' '883' '171' 'V13' '698' '842' 'E850' '800' '269' '664' 'E887'
 '952' '164' 'E881' '527' '685' '366' '836' '27' 'V63' '793' '232' '990'
 '52' '831' '327' '542' '806' '972' '862' 'E829' 'E919' '944' '448' 'E916'
 '963' '316' '980' '909' '645' '347' 'V85' '374' 'V02' '748' '256' '186'
 '866' '975' '96' '395' '262' '865' 'E819' '654' '994' '318' 'E826' '879'
 '641' '822' '145' '797' '353' 'E938' 'E816' '948' '987' '99' '192'
 '250.3' 'E906' '534' '115' 'E818' 'E980' '360' '338' '529' '871' '750'
 '212' '302' '955' '141' '88' 'V25' '215' '350' 'V50' 'V03' 'E853' 'E968'
 'E882' '140' '703' '991' '893' 'E821' 'V69' '670' '195' 'V55' '388' '268'
 '894' '114' '260' '853' '7' '880' 'V86' '180' 'E945' '523' '863' '649'
 '270' '665' '460' '942' '364' '66' 'E883' '123' '884' 'V60' '843' '927']
--------------------------------------------------
Column: diag_3
['?' '255' 'V27' '403' '250' 'V45' '38' '486' '996' '197' '250.6' '427'
 '627' '414' '416' '582' 'V43' '250.01' '263' '250.42' '276' '482' '401'
 '250.41' '585' '781' '278' '998' '428' '568' '682' '250.02' '305' '707'
 '496' '599' '424' '518' '553' '794' '411' 'V42' '531' '511' '490' '562'
 '250.8' '250.7' '250.52' '784' '491' '581' '420' '724' '730' '789' '131'
 '250.82' '999' '41' '493' '250.03' '753' '786' '529' 'E888' '425' '595'
 '303' '560' '711' '8' '492' '332' '296' '438' '362' '250.4' '654' '244'
 'V70' '737' '625' '681' '250.51' '404' 'V10' '810' '280' '440' '785'
 '569' '272' '997' '250.43' '918' '584' '54' '788' '426' '722' '250.92'
 '196' '461' '535' '787' '891' '284' '458' '648' '780' '182' '285' '593'
 '413' '664' '564' '201' '356' 'V15' '292' '782' '715' '473' '455' '714'
 'E932' '357' '348' '294' '250.23' '459' 'E878' '437' '733' '507' '525'
 '250.53' '397' '572' '805' '453' '331' '736' '402' '591' '576' '465'
 '533' '703' '349' '315' '658' '608' '578' '716' '382' '300' '282' '571'
 '536' '596' '287' '644' 'V11' '558' 'E885' '162' '198' '218' '412' '396'
 'V14' '570' '433' 'E934' '882' '288' '577' '443' '729' '836' '295' '799'
 '281' '304' '153' '410' '616' '250.83' '601' '291' '75' '512' '660'
 '250.5' '598' '337' '574' '653' 'V58' '311' '415' '386' '602' '790' '112'
 '873' '620' '436' '70' '155' '138' '663' '530' '710' '42' '342' '250.91'
 'E884' '515' '307' '704' '728' '731' '583' '238' '441' '293' '573' '532'
 '290' '594' '319' '250.13' '250.12' '519' '346' '380' '135' '642' '698'
 '924' '905' 'E933' '555' '309' 'E879' '286' '565' '752' '580' '446' '444'
 '344' '252' '35' '813' '394' '301' '258' 'V17' '802' '435' '746' 'V12'
 '709' '881' 'E935' '139' '250.81' '718' '365' '202' '334' '185' '398'
 'V44' '517' 'E849' '614' '466' '626' '250.9' '368' '605' '883' '289'
 '478' '617' '429' '442' 'V25' '866' '610' '557' '959' 'E942' '94' '920'
 '345' '313' '379' '79' '516' '586' '821' '600' '242' '373' '592' 'V64'
 '487' '253' '706' 'E947' '117' '340' 'E950' '656' 'E949' '590' 'V09'
 '250.22' '934' '694' '203' '250.93' '995' '726' '923' '958' '275' 'E929'
 '211' 'V18' 'V66' '199' '665' '53' '279' '522' '791' '890' '456' 'E938'
 'E816' '122' '721' 'V65' '136' '480' '423' 'E920' '793' '647' '537' '575'
 '351' '845' '336' '274' '719' '945' '434' '494' '227' '157' '208' '174'
 'V57' '812' '734' '150' 'V23' '447' '692' '228' 'V16' '756' '405' 'E928'
 '552' '389' '240' '454' '792' '366' '907' '270' '310' '266' '387' 'E931'
 '783' '245' '607' '355' 'E930' '705' '372' '369' '611' '283' 'V46' '110'
 '867' 'E956' '251' '250.2' '820' '712' '695' '567' '343' '723' 'V08'
 '273' '623' '807' '823' '618' '451' '495' '701' '34' 'V53' '314' '472'
 'E945' '11' '189' '534' '354' '333' 'V54' '277' '659' 'E939' '708' '452'
 '655' '816' '670' '621' '246' '953' '865' 'E817' '646' '151' '378' '78'
 '298' '840' '641' '521' '745' '619' '912' '506' 'E904' '259' 'E980' '383'
 '204' '696' '566' '727' '47' 'E943' '358' '191' '965' '921' '432' '27'
 'E861' '758' '477' '524' '751' '652' '556' '188' '825' '919' '732' 'E870'
 '908' '951' '962' '685' 'E944' '527' '341' '693' '250.1' 'V49' '860'
 '323' '579' '508' '969' '205' '462' 'E880' '680' '697' '826' '200' '457'
 '717' '738' '742' '735' '235' '308' '528' '725' '241' '824' '464' '260'
 '917' '239' '661' '892' '261' 'E883' '943' '744' 'E936' '796' '318' '967'
 '350' '854' 'E905' '9' '741' 'E941' '170' '643' '317' '759' '909' 'V22'
 '831' '713' '180' '801' '360' '359' '501' '335' '250.11' '306' '811'
 '690' 'V02' '271' '214' '847' '543' 'V63' '906' '842' '686' '445' 'V55'
 '808' '861' 'E852' '220' 'E887' 'E858' '915' '970' '256' '747' '395'
 '243' '815' '481' '5' 'E927' '297' '299' '851' '864' '922' '384' 'E876'
 '225' '158' 'E937' '871' '88' 'E917' 'E812' 'V62' 'E924' '604' '233'
 'E916' '797' 'V72' '172' '421' '852' 'E819' '972' '916' '956' '3' 'E965'
 '173' '193' '154' '347' '862' '250.3' '987' '470' '262' 'E855' '161'
 '115' '179' '910' '312' '17' '460' '265' '66' '163' 'V60' '870' 'E906'
 '514' '944' '844' '417' '152' '183' '991' '216' '385' '164' '935' '510'
 '485' '850' '250.21' 'E919' '872' '377' '195' '588' '431' '597' '933'
 '171' '884' '156' '868' '483' 'E815' '542' 'V61' '853' 'E850' 'E881'
 'E882' 'E822' '192' '754' '327' '523' '500' 'V85' '992' '657' '684' '603'
 'E826' '550' '913' '376' '755' '361' '186' '720' '250.31' '674' '911'
 '374' 'E813' '226' '365.44' 'E818' '146' '955' 'E894' '475' 'V13' '880'
 '930' 'E915' '381' '132' '353' '795' '893' 'V01' 'E853' '863' '540'
 'E828' '430' '800' 'E865' '148' 'E946' '822' '879' '848' 'V86' 'V03'
 '338' '989' '388' '111' '123' '966' '757' 'E901' '141' '268' 'E892' '649'
 '702' '948' '223' '484' 'E886' '838' '928' '236' '624' '837' 'E987' 'V07'
 '841' '622' 'E912' 'E955' 'V06' 'E864' '217' '877' '391' 'E825' '952'
 '814' '7' '669' '875' 'E900' '215' '538' '980' '834' '448' '175' '49'
 '876' '230' '57' 'E854' '942' '14' '750' '370' '671' '971']
--------------------------------------------------
Column: number_diagnoses
[ 1  9  6  7  5  8  3  4  2 16 12 13 15 10 11 14]
--------------------------------------------------
Column: max_glu_serum
[nan '>300' 'Norm' '>200']
--------------------------------------------------
Column: A1Cresult
[nan '>7' '>8' 'Norm']
--------------------------------------------------
Column: metformin
['No' 'Steady' 'Up' 'Down']
--------------------------------------------------
Column: repaglinide
['No' 'Up' 'Steady' 'Down']
--------------------------------------------------
Column: nateglinide
['No' 'Steady' 'Down' 'Up']
--------------------------------------------------
Column: chlorpropamide
['No' 'Steady' 'Down' 'Up']
--------------------------------------------------
Column: glimepiride
['No' 'Steady' 'Down' 'Up']
--------------------------------------------------
Column: acetohexamide
['No' 'Steady']
--------------------------------------------------
Column: glipizide
['No' 'Steady' 'Up' 'Down']
--------------------------------------------------
Column: glyburide
['No' 'Steady' 'Up' 'Down']
--------------------------------------------------
Column: tolbutamide
['No' 'Steady']
--------------------------------------------------
Column: pioglitazone
['No' 'Steady' 'Up' 'Down']
--------------------------------------------------
Column: rosiglitazone
['No' 'Steady' 'Up' 'Down']
--------------------------------------------------
Column: acarbose
['No' 'Steady' 'Up' 'Down']
--------------------------------------------------
Column: miglitol
['No' 'Steady' 'Down' 'Up']
--------------------------------------------------
Column: troglitazone
['No' 'Steady']
--------------------------------------------------
Column: tolazamide
['No' 'Steady' 'Up']
--------------------------------------------------
Column: examide
['No']
--------------------------------------------------
Column: citoglipton
['No']
--------------------------------------------------
Column: insulin
['No' 'Up' 'Steady' 'Down']
--------------------------------------------------
Column: glyburide_metformin
['No' 'Steady' 'Down' 'Up']

### Deleting columns with only 1 unique value

In [23]:
df_encoded = df_encoded.drop(columns=['examide', 'citoglipton'])
df_encoded = df_encoded.drop(columns=['metformin_rosiglitazone'])

In [24]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99492 entries, 0 to 101765
Data columns (total 48 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   race                      99492 non-null  int64
 1   gender                    99492 non-null  int64
 2   age                       99492 non-null  int64
 3   admission_type_id         99492 non-null  int64
 4   discharge_disposition_id  99492 non-null  int64
 5   admission_source_id       99492 non-null  int64
 6   time_in_hospital          99492 non-null  int64
 7   medical_specialty         99492 non-null  object
 8   num_lab_procedures        99492 non-null  int64
 9   num_procedures            99492 non-null  int64
 10  num_medications           99492 non-null  int64
 11  number_outpatient         99492 non-null  int64
 12  number_emergency          99492 non-null  int64
 13  number_inpatient          99492 non-null  int64
 14  diag_1                    99492 non-null  object
 15  diag_2                    99492 non-null  object
 16  diag_3                    99492 non-null  object
 17  number_diagnoses          99492 non-null  int64
 18  max_glu_serum             5290 non-null   object
 19  A1Cresult                 16596 non-null  object
 20  metformin                 99492 non-null  object
 21  repaglinide               99492 non-null  object
 22  nateglinide               99492 non-null  object
 23  chlorpropamide            99492 non-null  object
 24  glimepiride               99492 non-null  object
 25  acetohexamide             99492 non-null  object
 26  glipizide                 99492 non-null  object
 27  glyburide                 99492 non-null  object
 28  tolbutamide               99492 non-null  object
 29  pioglitazone              99492 non-null  object
 30  rosiglitazone             99492 non-null  object
 31  acarbose                  99492 non-null  object
 32  miglitol                  99492 non-null  object
 33  troglitazone              99492 non-null  object
 34  tolazamide                99492 non-null  object
 35  insulin                   99492 non-null  object
 36  glyburide_metformin       99492 non-null  object
 37  glipizide_metformin       99492 non-null  object
 38  glimepiride_pioglitazone  99492 non-null  object
 39  metformin_pioglitazone    99492 non-null  object
 40  change                    99492 non-null  object
 41  diabetesMed               99492 non-null  object
 42  readmitted                99492 non-null  object
 43  race_AfricanAmerican      99492 non-null  int64
 44  race_Asian                99492 non-null  int64
 45  race_Caucasian            99492 non-null  int64
 46  race_Hispanic             99492 non-null  int64
 47  race_Other                99492 non-null  int64
dtypes: int64(19), object(29)
memory usage: 37.2+ MB

In [25]:
print(df[['medical_specialty', 'diag_1', 'diag_2', 'diag_3','max_glu_serum', 'A1Cresult', 'change', 'diabetesMed', 'readmitted']].nunique())

medical_specialty     73
diag_1               715
diag_2               746
diag_3               787
max_glu_serum          3
A1Cresult              3
change                 2
diabetesMed            2
readmitted             3
dtype: int64

In [26]:
print(df['max_glu_serum'].unique())
print(df['A1Cresult'].unique())
print(df['change'].unique())
print(df['diabetesMed'].unique())
print(df['readmitted'].unique())

[nan '>300' 'Norm' '>200']
[nan '>7' '>8' 'Norm']
['No' 'Ch']
['No' 'Yes']
['NO' '>30' '<30']

In [27]:
df_encoded[['medical_specialty', 'diag_1', 'diag_2', 'diag_3']] = df[['medical_specialty', 'diag_1', 'diag_2', 'diag_3']].replace('?', np.nan)

In [28]:
le = LabelEncoder()
df_encoded['medical_specialty'] = le.fit_transform(df_encoded['medical_specialty'])

label_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
print(label_mapping)

{'AllergyandImmunology': np.int64(0), 'Anesthesiology': np.int64(1), 'Anesthesiology-Pediatric': np.int64(2), 'Cardiology': np.int64(3), 'Cardiology-Pediatric': np.int64(4), 'DCPTEAM': np.int64(5), 'Dentistry': np.int64(6), 'Dermatology': np.int64(7), 'Emergency/Trauma': np.int64(8), 'Endocrinology': np.int64(9), 'Endocrinology-Metabolism': np.int64(10), 'Family/GeneralPractice': np.int64(11), 'Gastroenterology': np.int64(12), 'Gynecology': np.int64(13), 'Hematology': np.int64(14), 'Hematology/Oncology': np.int64(15), 'Hospitalist': np.int64(16), 'InfectiousDiseases': np.int64(17), 'InternalMedicine': np.int64(18), 'Nephrology': np.int64(19), 'Neurology': np.int64(20), 'Neurophysiology': np.int64(21), 'Obsterics&Gynecology-GynecologicOnco': np.int64(22), 'Obstetrics': np.int64(23), 'ObstetricsandGynecology': np.int64(24), 'Oncology': np.int64(25), 'Ophthalmology': np.int64(26), 'Orthopedics': np.int64(27), 'Orthopedics-Reconstructive': np.int64(28), 'Osteopath': np.int64(29), 'Otolaryngology': np.int64(30), 'OutreachServices': np.int64(31), 'Pathology': np.int64(32), 'Pediatrics': np.int64(33), 'Pediatrics-AllergyandImmunology': np.int64(34), 'Pediatrics-CriticalCare': np.int64(35), 'Pediatrics-EmergencyMedicine': np.int64(36), 'Pediatrics-Endocrinology': np.int64(37), 'Pediatrics-Hematology-Oncology': np.int64(38), 'Pediatrics-InfectiousDiseases': np.int64(39), 'Pediatrics-Neurology': np.int64(40), 'Pediatrics-Pulmonology': np.int64(41), 'Perinatology': np.int64(42), 'PhysicalMedicineandRehabilitation': np.int64(43), 'PhysicianNotFound': np.int64(44), 'Podiatry': np.int64(45), 'Proctology': np.int64(46), 'Psychiatry': np.int64(47), 'Psychiatry-Addictive': np.int64(48), 'Psychiatry-Child/Adolescent': np.int64(49), 'Psychology': np.int64(50), 'Pulmonology': np.int64(51), 'Radiologist': np.int64(52), 'Radiology': np.int64(53), 'Resident': np.int64(54), 'Rheumatology': np.int64(55), 'Speech': np.int64(56), 'SportsMedicine': np.int64(57), 'Surgeon': np.int64(58), 'Surgery-Cardiovascular': np.int64(59), 'Surgery-Cardiovascular/Thoracic': np.int64(60), 'Surgery-Colon&Rectal': np.int64(61), 'Surgery-General': np.int64(62), 'Surgery-Maxillofacial': np.int64(63), 'Surgery-Neuro': np.int64(64), 'Surgery-Pediatric': np.int64(65), 'Surgery-Plastic': np.int64(66), 'Surgery-PlasticwithinHeadandNeck': np.int64(67), 'Surgery-Thoracic': np.int64(68), 'Surgery-Vascular': np.int64(69), 'SurgicalSpecialty': np.int64(70), 'Urology': np.int64(71), nan: np.int64(72)}

In [29]:
def transform_diagnosis_code(code):
    if pd.isna(code):
        return code
    code = str(code)  # Convert to string
    if code.startswith('V'):
        return float(code[1:]) + 1000  # Adjust 'V' codes
    elif code.startswith('E'):
        return float(code[1:]) + 300  # Adjust 'E' codes
    return float(code)

df_encoded['diag_1'] = df_encoded['diag_1'].apply(transform_diagnosis_code)
df_encoded['diag_2'] = df_encoded['diag_2'].apply(transform_diagnosis_code)
df_encoded['diag_3'] = df_encoded['diag_3'].apply(transform_diagnosis_code)

print(df_encoded['diag_1'].unique())

[ 250.83  276.    648.      8.    197.    414.    428.    398.    434.
  250.7   157.    518.    999.    410.    682.    402.   1057.    189.
  786.    427.    996.    277.    584.    462.    473.    411.    174.
  486.    998.    511.    432.    626.    295.    196.    250.6   182.
  845.    423.    808.    250.4   722.    403.    250.11  784.    707.
  440.    151.    715.    997.    198.    564.     38.    590.    578.
  250.32  433.    569.    185.    536.    255.    250.13  599.    558.
  574.    491.    560.    244.    250.03  577.    730.    188.    824.
  250.8   332.    562.    291.    296.    510.    401.    263.    438.
   70.    250.02  493.    642.    571.    738.    593.    618.    250.42
  807.    456.    446.    572.    575.    250.41  820.    515.    780.
  250.22  995.    235.    250.82  721.    787.    556.    162.    724.
  282.    514.   1055.    281.    250.33  530.    466.    435.    250.12
 1053.    789.    566.    822.    191.    557.    733.    455.    711.
  482.    202.    280.    553.    154.    441.    250.81  349.       nan
  962.    592.    507.    386.    156.    200.    728.    459.    426.
  607.    337.     82.    531.    812.    225.    596.    288.   1058.
  656.    573.    492.    220.    516.    210.    922.    286.    885.
  958.    661.    969.    250.93  227.    112.    404.    823.    532.
  416.    346.    535.    453.    250.    595.    211.    303.    250.01
  852.    218.    540.    457.    285.    431.    340.    550.    351.
  601.    723.    555.    153.    443.    380.    204.    424.    241.
  358.    694.    331.    345.    681.    447.    290.    158.    579.
  436.    335.    309.    654.    805.    799.    292.    183.     78.
  851.    458.    586.    311.     54.    892.    305.    293.    415.
  591.    794.    803.     79.    429.    278.    658.    598.    729.
  585.    444.    604.    727.    214.    552.    284.    680.    708.
   41.    644.    481.    821.    413.    437.    968.    756.    632.
  782.    359.    275.    512.    781.    420.    368.    522.    737.
  294.    825.    135.    304.    320.    250.31  669.    868.    496.
  250.43  826.    567.      3.    203.     53.    251.    565.    495.
   49.    250.1   297.    663.    576.    355.    850.    287.    250.2
  611.    348.    840.    350.    726.    537.    620.    180.    366.
  783.     11.    751.    716.    250.3   199.    464.    580.    836.
  664.    283.    966.    289.    965.    184.    480.    608.    333.
  972.    212.    117.    788.    625.    924.    959.    621.    238.
  785.    714.    942.    250.23  710.     47.    933.    508.    478.
  844.      7.    233.     42.    250.5   397.    395.    201.    421.
  253.    250.92  600.    494.    977.     39.    659.    312.    614.
  647.    652.    646.    274.    861.    425.    527.    451.    485.
  217.    250.53  442.    970.    193.    160.    322.    581.    475.
  623.    374.    582.    568.    465.    801.    237.    376.    150.
  461.    913.    226.    617.    987.    641.    298.    790.    336.
  362.    228.    513.    383.    746.    353.    911.    506.    873.
  155.    860.    534.    802.    141.   1045.    310.    341.    242.
  719.    736.    239.    533.    616.    519.    301.   1066.      5.
  989.    230.    300.    853.    871.    570.    848.    463.      9.
  934.    250.21  361.    594.    810.    643.    430.    528.    205.
  791.    983.    992.    490.    396.    172.    171.    622.    306.
  863.    864.    474.    660.    759.    356.    634.    967.    551.
  695.    187.    732.    747.    323.    308.    370.    252.    152.
  846.    164.    365.    718.     48.    266.    720.     94.    161.
  344.    797.    813.    170.    878.    904.   1056.    882.    843.
  709.    973.    454.    686.    939.    487.    229.    991.    483.
  357.    692.    796.    693.    935.    936.    800.    920.   1026.
  261.    307.    262.    250.9   831.    145.    388.    223.   1071.
  839.    685.   1054.    655.     35.     34.    179.    964.    136.
  324.    389.    815.    334.    143.    526.    588.    192.   1067.
  394.    917.     88.    219.    325.    501.    792.    717.    994.
  990.    793.    207.    637.    195.    373.    847.    827.     31.
  891.    814.   1060.    703.    865.    352.    627.    378.    342.
  886.    369.    745.    705.    816.    541.    986.    610.    633.
  640.    753.    173.    835.    379.    445.    272.    945.    619.
  881.    250.52  866.    405.    916.    215.    893.     75.    928.
  906.    897.    725.    867.    115.    734.    521.    674.    470.
  834.    146.    696.    524.    980.    691.    384.    142.    879.
  250.51  246.    208.    448.    955.    653.    149.    245.    735.
  883.    854.    952.    838.    194.   1043.    163.    216.    147.
  354.     27.    477.    318.    880.    921.    890.    377.    471.
  683.    175.    602.    250.91  982.    382.    706.    375.    417.
  131.    347.    385.    870.    148.    862.     61.    817.    914.
  360.    684.    314.   1063.     36.     57.    240.    915.    971.
  795.    988.    452.    963.    327.    731.    842.   1025.    645.
  665.    110.    944.    603.    923.    412.    363.    957.    976.
  698.    299.    700.    273.    974.     97.    529.     66.     98.
  605.    941.    806.     84.    271.    837.    657.    895.    338.
  523.    542.    114.    543.    372.   1070.   1209.    583.   1007.
  422.    615.    279.    500.    919.    875.    236.    381.    804.
  704.     23.     58.    649.    832.    133.    975.    833.    391.
  690.     10.     52.   1051.  ]

In [30]:
def map_diagnosis(data, cols):

    for col in cols:
        data["temp_diag"] = np.nan
        data.loc[(data[col]>=390) & (data[col]<=459) | (data[col]==785), "temp_diag"] = "Circulatory"
        data.loc[(data[col]>=460) & (data[col]<=519) | (data[col]==786), "temp_diag"] = "Respiratory"
        data.loc[(data[col]>=520) & (data[col]<=579) | (data[col]==787), "temp_diag"] = "Digestive"
        data.loc[(data[col]>=250) & (data[col]<251), "temp_diag"] = "Diabetes"
        data.loc[(data[col]>=800) & (data[col]<=999), "temp_diag"] = "Injury"
        data.loc[(data[col]>=710) & (data[col]<=739), "temp_diag"] = "Muscoloskeletal"
        data.loc[(data[col]>=580) & (data[col]<=629) | (data[col] == 788), "temp_diag"] = "Genitourinary"
        data.loc[(data[col]>=140) & (data[col]<=239), "temp_diag"] = "Neoplasms"

        data["temp_diag"] = data["temp_diag"].fillna("Other")
        data[col] = data["temp_diag"]
        data = data.drop("temp_diag", axis=1)

    return data

df_encoded[['diag_1', 'diag_2', 'diag_3']] = df_encoded[['diag_1', 'diag_2', 'diag_3']].replace('?', np.nan)
df_encoded = map_diagnosis(df_encoded, ['diag_1', 'diag_2', 'diag_3'])

pd.set_option('display.max_columns', None)
display(df_encoded)

C:\Users\artem\AppData\Local\Temp\ipykernel_16776\1188751623.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Circulatory' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.loc[(data[col]>=390) & (data[col]<=459) | (data[col]==785), "temp_diag"] = "Circulatory"
C:\Users\artem\AppData\Local\Temp\ipykernel_16776\1188751623.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Circulatory' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.loc[(data[col]>=390) & (data[col]<=459) | (data[col]==785), "temp_diag"] = "Circulatory"
C:\Users\artem\AppData\Local\Temp\ipykernel_16776\1188751623.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Circulatory' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.loc[(data[col]>=390) & (data[col]<=459) | (data[col]==785), "temp_diag"] = "Circulatory"

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,medical_specialty,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,diag_2,diag_3,number_diagnoses,max_glu_serum,A1Cresult,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,rosiglitazone,acarbose,miglitol,troglitazone,tolazamide,insulin,glyburide_metformin,glipizide_metformin,glimepiride_pioglitazone,metformin_pioglitazone,change,diabetesMed,readmitted,race_AfricanAmerican,race_Asian,race_Caucasian,race_Hispanic,race_Other
0,3,0,5,6,25,1,1,37,41,0,1,0,0,0,Diabetes,Other,Other,1,NaN,NaN,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,NO,0,0,1,0,0
1,3,0,15,1,1,7,3,72,59,0,18,0,0,0,Other,Diabetes,Other,9,NaN,NaN,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,Ch,Yes,>30,0,0,1,0,0
2,1,0,25,1,1,7,2,72,11,5,13,2,0,1,Other,Diabetes,Other,6,NaN,NaN,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Yes,NO,1,0,0,0,0
3,3,1,35,1,1,7,2,72,44,1,16,0,0,0,Other,Diabetes,Circulatory,7,NaN,NaN,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,Ch,Yes,NO,0,0,1,0,0
4,3,1,45,1,1,7,1,72,51,0,8,0,0,0,Neoplasms,Neoplasms,Diabetes,5,NaN,NaN,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,Steady,No,No,No,No,Ch,Yes,NO,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,1,1,75,1,3,7,3,72,51,0,16,0,0,0,Diabetes,Other,Circulatory,9,NaN,>8,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Down,No,No,No,No,Ch,Yes,>30,1,0,0,0,0
101762,1,0,85,1,4,5,5,72,33,3,18,0,0,1,Digestive,Other,Digestive,9,NaN,NaN,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Yes,NO,1,0,0,0,0
101763,3,1,75,1,1,7,1,72,53,0,9,1,0,0,Other,Genitourinary,Other,13,NaN,NaN,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Down,No,No,No,No,Ch,Yes,NO,0,0,1,0,0
101764,3,0,85,2,3,7,10,62,45,2,21,0,0,1,Injury,Other,Injury,9,NaN,NaN,No,No,No,No,No,No,Steady,No,No,Steady,No,No,No,No,No,Up,No,No,No,No,Ch,Yes,NO,0,0,1,0,0
101765,3,1,75,1,1,7,6,72,13,3,3,0,0,0,Digestive,Digestive,Digestive,9,NaN,NaN,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,NO,0,0,1,0,0

In [31]:
df_encoded = pd.get_dummies(df_encoded, columns=['diag_1'], prefix='diag_1')

df_encoded = pd.get_dummies(df_encoded, columns=['diag_2'], prefix='diag_2')

df_encoded = pd.get_dummies(df_encoded, columns=['diag_3'], prefix='diag_3')

# Identify the columns related to diag_1, diag_2, and diag_3
diag_columns = [col for col in df_encoded.columns if col.startswith(('diag_1_', 'diag_2_', 'diag_3_'))]
df_encoded[diag_columns] = df_encoded[diag_columns].astype(int)

pd.set_option('display.max_columns', None)
display(df_encoded)

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,medical_specialty,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,max_glu_serum,A1Cresult,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,rosiglitazone,acarbose,miglitol,troglitazone,tolazamide,insulin,glyburide_metformin,glipizide_metformin,glimepiride_pioglitazone,metformin_pioglitazone,change,diabetesMed,readmitted,race_AfricanAmerican,race_Asian,race_Caucasian,race_Hispanic,race_Other,diag_1_Circulatory,diag_1_Diabetes,diag_1_Digestive,diag_1_Genitourinary,diag_1_Injury,diag_1_Muscoloskeletal,diag_1_Neoplasms,diag_1_Other,diag_1_Respiratory,diag_2_Circulatory,diag_2_Diabetes,diag_2_Digestive,diag_2_Genitourinary,diag_2_Injury,diag_2_Muscoloskeletal,diag_2_Neoplasms,diag_2_Other,diag_2_Respiratory,diag_3_Circulatory,diag_3_Diabetes,diag_3_Digestive,diag_3_Genitourinary,diag_3_Injury,diag_3_Muscoloskeletal,diag_3_Neoplasms,diag_3_Other,diag_3_Respiratory
0,3,0,5,6,25,1,1,37,41,0,1,0,0,0,1,NaN,NaN,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,NO,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
1,3,0,15,1,1,7,3,72,59,0,18,0,0,0,9,NaN,NaN,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,Ch,Yes,>30,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2,1,0,25,1,1,7,2,72,11,5,13,2,0,1,6,NaN,NaN,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Yes,NO,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,3,1,35,1,1,7,2,72,44,1,16,0,0,0,7,NaN,NaN,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,Ch,Yes,NO,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,3,1,45,1,1,7,1,72,51,0,8,0,0,0,5,NaN,NaN,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,Steady,No,No,No,No,Ch,Yes,NO,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,1,1,75,1,3,7,3,72,51,0,16,0,0,0,9,NaN,>8,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Down,No,No,No,No,Ch,Yes,>30,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0
101762,1,0,85,1,4,5,5,72,33,3,18,0,0,1,9,NaN,NaN,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Yes,NO,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0
101763,3,1,75,1,1,7,1,72,53,0,9,1,0,0,13,NaN,NaN,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Down,No,No,No,No,Ch,Yes,NO,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0
101764,3,0,85,2,3,7,10,62,45,2,21,0,0,1,9,NaN,NaN,No,No,No,No,No,No,Steady,No,No,Steady,No,No,No,No,No,Up,No,No,No,No,Ch,Yes,NO,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
101765,3,1,75,1,1,7,6,72,13,3,3,0,0,0,9,NaN,NaN,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,NO,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0

In [32]:
# 'max_glu_serum'
df_encoded['max_glu_serum'] = df_encoded['max_glu_serum'].map({
    '>300': 2,
    '>200': 1,
    'Norm': 0
}).fillna(3)

# 'A1Cresult'
df_encoded['A1Cresult'] = df_encoded['A1Cresult'].map({
    '>8': 2,
    '>7': 1,
    'Norm': 0
}).fillna(3)

# 'change'
df_encoded['change'] = df_encoded['change'].map({
    'No': 0,
    'Ch': 1,
})

# 'diabetesMed'
df_encoded['diabetesMed'] = df_encoded['diabetesMed'].map({
    'Yes': 1,
    'No': 0
})

df_encoded['readmitted'] = df_encoded['readmitted'].map({
    '<30': 1,
    '>30': 0,
    'NO': 0
})

for col in ['max_glu_serum', 'A1Cresult','change', 'diabetesMed', 'readmitted']:
    print(f"Column: {col}")
    print(df_encoded[col].unique())
    print("-" * 50)

Column: max_glu_serum
[3. 2. 0. 1.]
--------------------------------------------------
Column: A1Cresult
[3. 1. 2. 0.]
--------------------------------------------------
Column: change
[0 1]
--------------------------------------------------
Column: diabetesMed
[0 1]
--------------------------------------------------
Column: readmitted
[0 1]
--------------------------------------------------

In [33]:
df_encoded['max_glu_serum'] = df_encoded['max_glu_serum'].astype(int)
df_encoded['A1Cresult'] = df_encoded['A1Cresult'].astype(int)

In [34]:
print(df_encoded.columns[df_encoded.columns.get_loc('A1Cresult') + 1:].tolist())

['metformin', 'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide', 'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone', 'tolazamide', 'insulin', 'glyburide_metformin', 'glipizide_metformin', 'glimepiride_pioglitazone', 'metformin_pioglitazone', 'change', 'diabetesMed', 'readmitted', 'race_AfricanAmerican', 'race_Asian', 'race_Caucasian', 'race_Hispanic', 'race_Other', 'diag_1_Circulatory', 'diag_1_Diabetes', 'diag_1_Digestive', 'diag_1_Genitourinary', 'diag_1_Injury', 'diag_1_Muscoloskeletal', 'diag_1_Neoplasms', 'diag_1_Other', 'diag_1_Respiratory', 'diag_2_Circulatory', 'diag_2_Diabetes', 'diag_2_Digestive', 'diag_2_Genitourinary', 'diag_2_Injury', 'diag_2_Muscoloskeletal', 'diag_2_Neoplasms', 'diag_2_Other', 'diag_2_Respiratory', 'diag_3_Circulatory', 'diag_3_Diabetes', 'diag_3_Digestive', 'diag_3_Genitourinary', 'diag_3_Injury', 'diag_3_Muscoloskeletal', 'diag_3_Neoplasms', 'diag_3_Other', 'diag_3_Respiratory']

In [35]:
medicine_cols = ['metformin', 'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
                 'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone', 'tolazamide', 'insulin', 'glyburide_metformin', 'glipizide_metformin', 
                 'glimepiride_pioglitazone', 'metformin_pioglitazone']

med_mapping = {"Up": 2, "Down": 1, "Steady": 0, "No": 3}

df_encoded[medicine_cols] = df_encoded[medicine_cols].replace(med_mapping)

C:\Users\artem\AppData\Local\Temp\ipykernel_16776\826914535.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_encoded[medicine_cols] = df_encoded[medicine_cols].replace(med_mapping)

In [36]:
modified_column_names = []
for col in df_encoded.columns:
    if any(medicine_name in col for medicine_name in medicine_cols):
        modified_column_names.append(f"{col}_medicine")
    else:
        modified_column_names.append(col)

df_encoded.columns = modified_column_names

df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99492 entries, 0 to 101765
Data columns (total 72 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   race                               99492 non-null  int64
 1   gender                             99492 non-null  int64
 2   age                                99492 non-null  int64
 3   admission_type_id                  99492 non-null  int64
 4   discharge_disposition_id           99492 non-null  int64
 5   admission_source_id                99492 non-null  int64
 6   time_in_hospital                   99492 non-null  int64
 7   medical_specialty                  99492 non-null  int64
 8   num_lab_procedures                 99492 non-null  int64
 9   num_procedures                     99492 non-null  int64
 10  num_medications                    99492 non-null  int64
 11  number_outpatient                  99492 non-null  int64
 12  number_emergency                   99492 non-null  int64
 13  number_inpatient                   99492 non-null  int64
 14  number_diagnoses                   99492 non-null  int64
 15  max_glu_serum                      99492 non-null  int64
 16  A1Cresult                          99492 non-null  int64
 17  metformin_medicine                 99492 non-null  int64
 18  repaglinide_medicine               99492 non-null  int64
 19  nateglinide_medicine               99492 non-null  int64
 20  chlorpropamide_medicine            99492 non-null  int64
 21  glimepiride_medicine               99492 non-null  int64
 22  acetohexamide_medicine             99492 non-null  int64
 23  glipizide_medicine                 99492 non-null  int64
 24  glyburide_medicine                 99492 non-null  int64
 25  tolbutamide_medicine               99492 non-null  int64
 26  pioglitazone_medicine              99492 non-null  int64
 27  rosiglitazone_medicine             99492 non-null  int64
 28  acarbose_medicine                  99492 non-null  int64
 29  miglitol_medicine                  99492 non-null  int64
 30  troglitazone_medicine              99492 non-null  int64
 31  tolazamide_medicine                99492 non-null  int64
 32  insulin_medicine                   99492 non-null  int64
 33  glyburide_metformin_medicine       99492 non-null  int64
 34  glipizide_metformin_medicine       99492 non-null  int64
 35  glimepiride_pioglitazone_medicine  99492 non-null  int64
 36  metformin_pioglitazone_medicine    99492 non-null  int64
 37  change                             99492 non-null  int64
 38  diabetesMed                        99492 non-null  int64
 39  readmitted                         99492 non-null  int64
 40  race_AfricanAmerican               99492 non-null  int64
 41  race_Asian                         99492 non-null  int64
 42  race_Caucasian                     99492 non-null  int64
 43  race_Hispanic                      99492 non-null  int64
 44  race_Other                         99492 non-null  int64
 45  diag_1_Circulatory                 99492 non-null  int64
 46  diag_1_Diabetes                    99492 non-null  int64
 47  diag_1_Digestive                   99492 non-null  int64
 48  diag_1_Genitourinary               99492 non-null  int64
 49  diag_1_Injury                      99492 non-null  int64
 50  diag_1_Muscoloskeletal             99492 non-null  int64
 51  diag_1_Neoplasms                   99492 non-null  int64
 52  diag_1_Other                       99492 non-null  int64
 53  diag_1_Respiratory                 99492 non-null  int64
 54  diag_2_Circulatory                 99492 non-null  int64
 55  diag_2_Diabetes                    99492 non-null  int64
 56  diag_2_Digestive                   99492 non-null  int64
 57  diag_2_Genitourinary               99492 non-null  int64
 58  diag_2_Injury                      99492 non-null  int64
 59  diag_2_Muscoloskeletal             99492 non-null  int64
 60  diag_2_Neoplasms                   99492 non-null  int64
 61  diag_2_Other                       99492 non-null  int64
 62  diag_2_Respiratory                 99492 non-null  int64
 63  diag_3_Circulatory                 99492 non-null  int64
 64  diag_3_Diabetes                    99492 non-null  int64
 65  diag_3_Digestive                   99492 non-null  int64
 66  diag_3_Genitourinary               99492 non-null  int64
 67  diag_3_Injury                      99492 non-null  int64
 68  diag_3_Muscoloskeletal             99492 non-null  int64
 69  diag_3_Neoplasms                   99492 non-null  int64
 70  diag_3_Other                       99492 non-null  int64
 71  diag_3_Respiratory                 99492 non-null  int64
dtypes: int64(72)
memory usage: 55.4 MB

In [37]:
# Save base encoded data train/test split for variable processing later

# 1) Split entire data into trainval/test
df_trainval, df_test = train_test_split(df_encoded, test_size=0.15, random_state=42)

# 2) (Option A) Further split trainval into train/val:
df_train, df_val = train_test_split(df_trainval, test_size=0.12, random_state=42)
# Save to CSV

df_train.to_csv('dataset/train_test_extracted_base/train.csv', index=False)
df_test.to_csv('dataset/train_test_extracted_base/test.csv', index=False)
df_val.to_csv('dataset/train_test_extracted_base/val.csv', index=False)

print("Train and test data saved successfully.")

Train and test data saved successfully.

In [ ]:
import pandas as pd


overall_counts = df_original['readmitted'].value_counts(dropna=False)
overall_percentages = (overall_counts / len(df_original)) * 100

print("Overall readmitted Distribution:")
overall_dist_df = pd.DataFrame({
    'Count': overall_counts,
    'Percentage': overall_percentages
})
display(overall_dist_df)

def analyze_readmitted(df, group_col):
    pivot_table = df.groupby([group_col, 'readmitted']).size().unstack(fill_value=0)
    
    pivot_table['Total'] = pivot_table.sum(axis=1)
    
    # Percentage of the entire dataset for each group
    pivot_table['% of Dataset'] = pivot_table['Total'] / len(df) * 100
    
    # For each readmitted category, add "Count" and "Rate in Group"
    for cat in ['NO', '<30', '>30']:
        pivot_table[f'{cat} Count'] = pivot_table[cat]
        pivot_table[f'{cat} Rate in Group (%)'] = (pivot_table[cat] / pivot_table['Total']) * 100
    
    pivot_table['<30 vs NO'] = pivot_table.apply(
        lambda row: row['<30'] / row['NO'] if row['NO'] > 0 else float('nan'), axis=1
    )
    pivot_table['<30 vs >30'] = pivot_table.apply(
        lambda row: row['<30'] / row['>30'] if row['>30'] > 0 else float('nan'), axis=1
    )
    pivot_table['<30 vs All Others'] = pivot_table.apply(
        lambda row: row['<30'] / (row['NO'] + row['>30']) if (row['NO'] + row['>30']) > 0 else float('nan'), axis=1
    )
    
    # Reorder columns for clarity
    columns_order = [
        'Total',
        '% of Dataset',
        'NO Count', 'NO Rate in Group (%)',
        '<30 Count', '<30 Rate in Group (%)',
        '>30 Count', '>30 Rate in Group (%)',
        '<30 vs NO', '<30 vs >30', '<30 vs All Others'
    ]
    pivot_table = pivot_table[columns_order]
    
    print(f"\nAnalysis by '{group_col}':")
    display(pivot_table)
    return pivot_table

# 2) Analyze readmitted for the specified columns
for col in ['race', 'age', 'gender']:
    analyze_readmitted(df_original, col)

Overall readmitted Distribution:

            Count  Percentage
readmitted
NO          54864   53.911916
>30         35545   34.928169
<30         11357   11.159916

Analysis by 'race':

readmitted,Total,% of Dataset,NO Count,NO Rate in Group (%),<30 Count,<30 Rate in Group (%),>30 Count,>30 Rate in Group (%),<30 vs NO,<30 vs >30,<30 vs All Others
race,,,,,,,,,,,
?,2273,2.233555,1547,68.059833,188,8.271007,538,23.669160,0.121526,0.349442,0.090168
AfricanAmerican,19210,18.876639,10421,54.247788,2155,11.218116,6634,34.534097,0.206794,0.324842,0.126356
Asian,641,0.629876,415,64.742590,65,10.140406,161,25.117005,0.156627,0.403727,0.112847
Caucasian,76099,74.778413,40383,53.066400,8592,11.290556,27124,35.643044,0.212763,0.316767,0.127276
Hispanic,2037,2.001651,1183,58.075601,212,10.407462,642,31.516937,0.179205,0.330218,0.116164
Other,1506,1.479866,915,60.756972,145,9.628154,446,29.614874,0.158470,0.325112,0.106539

Analysis by 'age':

readmitted,Total,% of Dataset,NO Count,NO Rate in Group (%),<30 Count,<30 Rate in Group (%),>30 Count,>30 Rate in Group (%),<30 vs NO,<30 vs >30,<30 vs All Others
age,,,,,,,,,,,
[0-10),161,0.158206,132,81.987578,3,1.863354,26,16.149068,0.022727,0.115385,0.018987
[10-20),691,0.679009,427,61.794501,40,5.788712,224,32.416787,0.093677,0.178571,0.061444
[20-30),1657,1.628245,911,54.978877,236,14.242607,510,30.778515,0.259056,0.462745,0.166080
[30-40),3775,3.709490,2164,57.324503,424,11.231788,1187,31.443709,0.195933,0.357203,0.126529
[40-50),9685,9.516931,5380,55.549819,1027,10.604027,3278,33.846154,0.190892,0.313301,0.118619
[50-60),17256,16.956547,9671,56.044274,1668,9.666203,5917,34.289522,0.172474,0.281900,0.107005
[60-70),22483,22.092840,12084,53.747276,2502,11.128408,7897,35.124316,0.207051,0.316829,0.125219
[70-80),26068,25.615628,13524,51.879699,3069,11.773055,9475,36.347246,0.226930,0.323905,0.133441
[80-90),17197,16.898571,8896,51.729953,2078,12.083503,6223,36.186544,0.233588,0.333923,0.137443
[90-100),2793,2.744532,1675,59.971357,310,11.099177,808,28.929467,0.185075,0.383663,0.124849

Analysis by 'gender':

readmitted,Total,% of Dataset,NO Count,NO Rate in Group (%),<30 Count,<30 Rate in Group (%),>30 Count,>30 Rate in Group (%),<30 vs NO,<30 vs >30,<30 vs All Others
gender,,,,,,,,,,,
Female,54708,53.758623,29038,53.078160,6152,11.245156,19518,35.676683,0.211860,0.315196,0.126699
Male,47055,46.238429,25823,54.878334,5205,11.061524,16027,34.060142,0.201564,0.324764,0.124373
Unknown/Invalid,3,0.002948,3,100.000000,0,0.000000,0,0.000000,0.000000,NaN,0.000000

# Bias Analysis

In [39]:
df_encoded.head()

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,medical_specialty,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,max_glu_serum,A1Cresult,metformin_medicine,repaglinide_medicine,nateglinide_medicine,chlorpropamide_medicine,glimepiride_medicine,acetohexamide_medicine,glipizide_medicine,glyburide_medicine,tolbutamide_medicine,pioglitazone_medicine,rosiglitazone_medicine,acarbose_medicine,miglitol_medicine,troglitazone_medicine,tolazamide_medicine,insulin_medicine,glyburide_metformin_medicine,glipizide_metformin_medicine,glimepiride_pioglitazone_medicine,metformin_pioglitazone_medicine,change,diabetesMed,readmitted,race_AfricanAmerican,race_Asian,race_Caucasian,race_Hispanic,race_Other,diag_1_Circulatory,diag_1_Diabetes,diag_1_Digestive,diag_1_Genitourinary,diag_1_Injury,diag_1_Muscoloskeletal,diag_1_Neoplasms,diag_1_Other,diag_1_Respiratory,diag_2_Circulatory,diag_2_Diabetes,diag_2_Digestive,diag_2_Genitourinary,diag_2_Injury,diag_2_Muscoloskeletal,diag_2_Neoplasms,diag_2_Other,diag_2_Respiratory,diag_3_Circulatory,diag_3_Diabetes,diag_3_Digestive,diag_3_Genitourinary,diag_3_Injury,diag_3_Muscoloskeletal,diag_3_Neoplasms,diag_3_Other,diag_3_Respiratory
0,3,0,5,6,25,1,1,37,41,0,1,0,0,0,1,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
1,3,0,15,1,1,7,3,72,59,0,18,0,0,0,9,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,2,3,3,3,3,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2,1,0,25,1,1,7,2,72,11,5,13,2,0,1,6,3,3,3,3,3,3,3,3,0,3,3,3,3,3,3,3,3,3,3,3,3,3,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,3,1,35,1,1,7,2,72,44,1,16,0,0,0,7,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,2,3,3,3,3,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,3,1,45,1,1,7,1,72,51,0,8,0,0,0,5,3,3,3,3,3,3,3,3,0,3,3,3,3,3,3,3,3,0,3,3,3,3,1,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0

In [40]:
label_name = ['readmitted']
sensitive_attribute = ['gender']

df_bld_gender = BinaryLabelDataset(df=df_encoded, label_names=label_name, protected_attribute_names=sensitive_attribute, favorable_label=1, unfavorable_label=0)

privileged_group = [{'gender':1}]
unprivileged_group = [{'gender':0}]

train_metric = BinaryLabelDatasetMetric(df_bld_gender, unprivileged_groups=unprivileged_group, privileged_groups=privileged_group)
explainer_org_train = MetricTextExplainer(train_metric)
print("Train set:", explainer_org_train.statistical_parity_difference())
print("Train set:", explainer_org_train.disparate_impact())

Train set: Statistical parity difference (probability of favorable outcome for unprivileged instances - probability of favorable outcome for privileged instances): 0.0018869230976938378
Train set: Disparate impact (probability of favorable outcome for unprivileged instances / probability of favorable outcome for privileged instances): 1.0169619905788583

In [41]:
# Closer look at bias towards asian females
df_asian_women = df_encoded.copy()

# {'Other':0, 'AfricanAmerican': 1,'Asian': 2, 'Caucasian': 3, 'Hispanic': 4}
def combined_gender_race(row):
  if row['gender'] == 1 and row['race'] == 2:
    return 0
  else:
    return 1

df_asian_women['gender_race'] = df_asian_women.apply(combined_gender_race, axis=1)

In [42]:
gender_race_counts = df_asian_women['gender_race'].value_counts()

print("Number of 0s:", gender_race_counts.get(0, 0))
print("Number of 1s:", gender_race_counts.get(1, 0))

Number of 0s: 323
Number of 1s: 99169

In [43]:


df_asian_women = df_asian_women.drop(columns=['gender', 'race', 'race_AfricanAmerican', 'race_Asian', 'race_Hispanic', 'race_Other', 'race_Caucasian'])
new_order = ['gender_race'] + [col for col in df_asian_women.columns if col != 'gender_race']
df_asian_women = df_asian_women[new_order]

pd.set_option('display.max_columns', None)
df_asian_women

,gender_race,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,medical_specialty,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,max_glu_serum,A1Cresult,metformin_medicine,repaglinide_medicine,nateglinide_medicine,chlorpropamide_medicine,glimepiride_medicine,acetohexamide_medicine,glipizide_medicine,glyburide_medicine,tolbutamide_medicine,pioglitazone_medicine,rosiglitazone_medicine,acarbose_medicine,miglitol_medicine,troglitazone_medicine,tolazamide_medicine,insulin_medicine,glyburide_metformin_medicine,glipizide_metformin_medicine,glimepiride_pioglitazone_medicine,metformin_pioglitazone_medicine,change,diabetesMed,readmitted,diag_1_Circulatory,diag_1_Diabetes,diag_1_Digestive,diag_1_Genitourinary,diag_1_Injury,diag_1_Muscoloskeletal,diag_1_Neoplasms,diag_1_Other,diag_1_Respiratory,diag_2_Circulatory,diag_2_Diabetes,diag_2_Digestive,diag_2_Genitourinary,diag_2_Injury,diag_2_Muscoloskeletal,diag_2_Neoplasms,diag_2_Other,diag_2_Respiratory,diag_3_Circulatory,diag_3_Diabetes,diag_3_Digestive,diag_3_Genitourinary,diag_3_Injury,diag_3_Muscoloskeletal,diag_3_Neoplasms,diag_3_Other,diag_3_Respiratory
0,1,5,6,25,1,1,37,41,0,1,0,0,0,1,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
1,1,15,1,1,7,3,72,59,0,18,0,0,0,9,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,2,3,3,3,3,1,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2,1,25,1,1,7,2,72,11,5,13,2,0,1,6,3,3,3,3,3,3,3,3,0,3,3,3,3,3,3,3,3,3,3,3,3,3,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,1,35,1,1,7,2,72,44,1,16,0,0,0,7,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,2,3,3,3,3,1,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,1,45,1,1,7,1,72,51,0,8,0,0,0,5,3,3,3,3,3,3,3,3,0,3,3,3,3,3,3,3,3,0,3,3,3,3,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,1,75,1,3,7,3,72,51,0,16,0,0,0,9,3,2,0,3,3,3,3,3,3,3,3,3,3,3,3,3,3,1,3,3,3,3,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0
101762,1,85,1,4,5,5,72,33,3,18,0,0,1,9,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,0,3,3,3,3,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0
101763,1,75,1,1,7,1,72,53,0,9,1,0,0,13,3,3,0,3,3,3,3,3,3,3,3,3,3,3,3,3,3,1,3,3,3,3,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0
101764,1,85,2,3,7,10,62,45,2,21,0,0,1,9,3,3,3,3,3,3,3,3,0,3,3,0,3,3,3,3,3,2,3,3,3,3,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
101765,1,75,1,1,7,6,72,13,3,3,0,0,0,9,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0

In [44]:
df_asian_women_train, df_asian_women_test = train_test_split(df_asian_women, test_size=0.3, stratify=df_asian_women[['gender_race', 'readmitted']], random_state=42)
df_asian_women_val, df_asian_women_test = train_test_split(df_asian_women_test, test_size=0.5, stratify=df_asian_women_test[['gender_race', 'readmitted']], random_state=42)

In [45]:

label_name = ['readmitted']
sensitive_attribute = ['gender_race']

train_bld = BinaryLabelDataset(df=df_asian_women_train, label_names=label_name, protected_attribute_names=sensitive_attribute, favorable_label=1, unfavorable_label=0)
val_bld = BinaryLabelDataset(df=df_asian_women_val, label_names=label_name, protected_attribute_names=sensitive_attribute, favorable_label=1, unfavorable_label=0)
test_bld = BinaryLabelDataset(df=df_asian_women_test, label_names=label_name, protected_attribute_names=sensitive_attribute, favorable_label=1, unfavorable_label=0)


privileged_group = [{'gender_race':0}]
unprivileged_group = [{'gender_race':1}]

train_metric = BinaryLabelDatasetMetric(train_bld, unprivileged_groups=unprivileged_group, privileged_groups=privileged_group)
explainer_org_train = MetricTextExplainer(train_metric)
print("Train set:", explainer_org_train.statistical_parity_difference())
print("Train set:", explainer_org_train.disparate_impact())

val_metric = BinaryLabelDatasetMetric(val_bld, unprivileged_groups=unprivileged_group, privileged_groups=privileged_group)
explainer_org_val = MetricTextExplainer(val_metric)
print("Validation set:", explainer_org_val.statistical_parity_difference())
print("Validation set:", explainer_org_val.disparate_impact())

test_metric = BinaryLabelDatasetMetric(test_bld, unprivileged_groups=unprivileged_group, privileged_groups=privileged_group)
explainer_org_test = MetricTextExplainer(test_metric)
print("Test set:", explainer_org_test.statistical_parity_difference())
print("Test set:", explainer_org_test.disparate_impact())

Train set: Statistical parity difference (probability of favorable outcome for unprivileged instances - probability of favorable outcome for privileged instances): -0.016099851177310623
Train set: Disparate impact (probability of favorable outcome for unprivileged instances / probability of favorable outcome for privileged instances): 0.8745321942733724
Validation set: Statistical parity difference (probability of favorable outcome for unprivileged instances - probability of favorable outcome for privileged instances): -0.01280586179080398
Validation set: Disparate impact (probability of favorable outcome for unprivileged instances / probability of favorable outcome for privileged instances): 0.8975531056735682
Test set: Statistical parity difference (probability of favorable outcome for unprivileged instances - probability of favorable outcome for privileged instances): -0.010247298919567827
Test set: Disparate impact (probability of favorable outcome for unprivileged instances / probability of favorable outcome for privileged instances): 0.9163137254901961

In [46]:
# Scaling the data
scaler = StandardScaler()
scaler.fit(train_bld.features)

x_train = scaler.transform(train_bld.features)
y_train = train_bld.labels.ravel()
w_train = train_bld.instance_weights.ravel()

x_val = scaler.transform(val_bld.features)
y_val = val_bld.labels.ravel()

x_test = scaler.transform(test_bld.features)
y_test = test_bld.labels.ravel()

print("Train data:", "x_train", x_train.shape, "y_train", y_train.shape)
print("Validation data:", "x_val", x_val.shape, "y_val", y_val.shape)
print("Test data:", "x_test", x_test.shape, "y_test", y_test.shape)

Train data: x_train (69644, 65) y_train (69644,)
Validation data: x_val (14924, 65) y_val (14924,)
Test data: x_test (14924, 65) y_test (14924,)

In [47]:
# Training Logistic Regression model
model = LogisticRegression(solver='liblinear', random_state=1)

LR_model = model.fit(x_train, y_train, sample_weight=train_bld.instance_weights)

y_train_pred = LR_model.predict(x_train)

# positive class index
pos_idx = np.where(LR_model.classes_ == train_bld.favorable_label)[0][0]

train_bld_pred = train_bld.copy()
train_bld_pred = y_train_pred

In [48]:
valid_bld_pred = val_bld.copy(deepcopy=True)
valid_bld_pred.scores = LR_model.predict_proba(x_val)[:, pos_idx].reshape(-1, 1)

test_bld_pred = test_bld.copy(deepcopy=True)
test_bld_pred.scores = LR_model.predict_proba(x_test)[:, pos_idx].reshape(-1, 1)

In [49]:
num_thresh = 100
balanced_acc = np.zeros(num_thresh)
class_threshold = np.linspace(0.01, 0.99, num_thresh)

for idx, class_thresh in enumerate(class_threshold):

    fav_idx = valid_bld_pred.scores > class_thresh
    valid_bld_pred.labels[fav_idx] = valid_bld_pred.favorable_label
    valid_bld_pred.labels[~fav_idx] = valid_bld_pred.unfavorable_label

    # computing metrics based on two BinaryLabelDatasets: a dataset containing groud-truth labels and a dataset containing predictions
    classified_metric_orig_valid = ClassificationMetric(val_bld,
                                                        valid_bld_pred,
                                                        unprivileged_groups=unprivileged_group,
                                                        privileged_groups=privileged_group)

    balanced_acc[idx] = 0.5 * (classified_metric_orig_valid.true_positive_rate() + classified_metric_orig_valid.true_negative_rate())

best_idx = np.where(balanced_acc == np.max(balanced_acc))[0][0]
best_class_thresh = class_threshold[best_idx]

print("Best balanced acuuracy (no fairness constraints) = %.4f" % np.max(balanced_acc))
print("Optimal classification threshold (no fairness constraints) = %.4f" % best_class_thresh)

Best balanced acuuracy (no fairness constraints) = 0.5847
Optimal classification threshold (no fairness constraints) = 0.0991

In [50]:
test_metrics = {
    'balanced accuracy': [],
    'equal opportunity difference': [],
    'average odds difference': [],
    'statistical parity difference': [],
    'Disparate Impact': []
}

print("Classification threshold = %.4f" % best_class_thresh)

for thresh in tqdm(class_threshold):

    fav_idx = test_bld_pred.scores > thresh
    test_bld_pred.labels[fav_idx] = test_bld_pred.favorable_label
    test_bld_pred.labels[~fav_idx] = test_bld_pred.unfavorable_label

    classification_metric_orig_test = ClassificationMetric(test_bld,
                                                           test_bld_pred,
                                                           unprivileged_groups=unprivileged_group,
                                                           privileged_groups=privileged_group)

    balanced_acc = 0.5 * (classification_metric_orig_test.true_positive_rate() + classification_metric_orig_test.true_negative_rate())

    acc = classification_metric_orig_test.accuracy()

    eq_opp_diff = classification_metric_orig_test.equal_opportunity_difference()

    avg_odd_diff = classification_metric_orig_test.average_odds_difference()

    spd = classification_metric_orig_test.statistical_parity_difference()

    disparate_impact = classification_metric_orig_test.disparate_impact()

    theil_idx = classification_metric_orig_test.theil_index()

    if thresh == best_class_thresh:
        display(Markdown(" ##### Metrics using the optimal classification threshold on test set"))
        print("Accuracy:", acc)
        print("Balanced Accuracy:", balanced_acc)
        print("Equal opportunity difference", eq_opp_diff)
        print("Average odds difference", avg_odd_diff)
        print("Statistical parity difference", spd)
        print("Disparate Impact", disparate_impact)
        print("Theil index", theil_idx)

    test_metrics['balanced accuracy'].append(balanced_acc)
    test_metrics['equal opportunity difference'].append(classification_metric_orig_test.equal_opportunity_difference())
    test_metrics['average odds difference'].append(classification_metric_orig_test.average_odds_difference())
    test_metrics['statistical parity difference'].append(classification_metric_orig_test.statistical_parity_difference())
    test_metrics['Disparate Impact'].append(classification_metric_orig_test.disparate_impact())

Classification threshold = 0.0991

  0%|          | 0/100 [00:00<?, ?it/s]

 ##### Metrics using the optimal classification threshold on test set

 23%|██▎       | 23/100 [00:00<00:00, 221.68it/s]

Accuracy: 0.552130796033235
Balanced Accuracy: 0.5944225134422987
Equal opportunity difference -0.35230677052127024
Average odds difference -0.16699880788389657
Statistical parity difference -0.028993997599039645
Disparate Impact 0.9431717647058823
Theil index 0.09947693209588412

C:\Users\artem\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\aif360\metrics\dataset_metric.py:82: RuntimeWarning: divide by zero encountered in scalar divide
  return metric_fun(privileged=False) / metric_fun(privileged=True)
 97%|█████████▋| 97/100 [00:00<00:00, 234.31it/s]C:\Users\artem\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\aif360\metrics\dataset_metric.py:82: RuntimeWarning: invalid value encountered in scalar divide
  return metric_fun(privileged=False) / metric_fun(privileged=True)
100%|██████████| 100/100 [00:00<00:00, 232.95it/s]

In [51]:
# Closer look at bias towards asian females
df_other_women = df_encoded.copy()

# {'Other':0, 'AfricanAmerican': 1,'Asian': 2, 'Caucasian': 3, 'Hispanic': 4}
def combined_gender_race(row):
  if row['gender'] == 1 and row['race'] == 0:
    return 0
  else:
    return 1

df_other_women['gender_race'] = df_other_women.apply(combined_gender_race, axis=1)
gender_race_counts = df_other_women['gender_race'].value_counts()

print("Number of 0s:", gender_race_counts.get(0, 0))
print("Number of 1s:", gender_race_counts.get(1, 0))


df_other_women = df_other_women.drop(columns=['gender', 'race', 'race_AfricanAmerican', 'race_Asian', 'race_Hispanic', 'race_Other', 'race_Caucasian'])
new_order = ['gender_race'] + [col for col in df_other_women.columns if col != 'gender_race']
df_other_women = df_other_women[new_order]

pd.set_option('display.max_columns', None)
df_other_women

df_other_women_train, df_other_women_test = train_test_split(df_other_women, test_size=0.3, stratify=df_other_women[['gender_race', 'readmitted']], random_state=42)
df_other_women_val, df_other_women_test = train_test_split(df_other_women_test, test_size=0.5, stratify=df_other_women_test[['gender_race', 'readmitted']], random_state=42)

label_name = ['readmitted']
sensitive_attribute = ['gender_race']

train_bld = BinaryLabelDataset(df=df_other_women_train, label_names=label_name, protected_attribute_names=sensitive_attribute, favorable_label=1, unfavorable_label=0)
val_bld = BinaryLabelDataset(df=df_other_women_val, label_names=label_name, protected_attribute_names=sensitive_attribute, favorable_label=1, unfavorable_label=0)
test_bld = BinaryLabelDataset(df=df_other_women_test, label_names=label_name, protected_attribute_names=sensitive_attribute, favorable_label=1, unfavorable_label=0)


privileged_group = [{'gender_race':1}]
unprivileged_group = [{'gender_race':0}]

train_metric = BinaryLabelDatasetMetric(train_bld, unprivileged_groups=unprivileged_group, privileged_groups=privileged_group)
explainer_org_train = MetricTextExplainer(train_metric)
print("Train set:", explainer_org_train.statistical_parity_difference())
print("Train set:", explainer_org_train.disparate_impact())

val_metric = BinaryLabelDatasetMetric(val_bld, unprivileged_groups=unprivileged_group, privileged_groups=privileged_group)
explainer_org_val = MetricTextExplainer(val_metric)
print("Validation set:", explainer_org_val.statistical_parity_difference())
print("Validation set:", explainer_org_val.disparate_impact())

test_metric = BinaryLabelDatasetMetric(test_bld, unprivileged_groups=unprivileged_group, privileged_groups=privileged_group)
explainer_org_test = MetricTextExplainer(test_metric)
print("Test set:", explainer_org_test.statistical_parity_difference())
print("Test set:", explainer_org_test.disparate_impact())

Number of 0s: 757
Number of 1s: 98735
Train set: Statistical parity difference (probability of favorable outcome for unprivileged instances - probability of favorable outcome for privileged instances): -0.021871384494089888
Train set: Disparate impact (probability of favorable outcome for unprivileged instances / probability of favorable outcome for privileged instances): 0.805479491966989
Validation set: Statistical parity difference (probability of favorable outcome for unprivileged instances - probability of favorable outcome for privileged instances): -0.02392087201392412
Validation set: Disparate impact (probability of favorable outcome for unprivileged instances / probability of favorable outcome for privileged instances): 0.7872119907518137
Test set: Statistical parity difference (probability of favorable outcome for unprivileged instances - probability of favorable outcome for privileged instances): -0.02470473956667496
Test set: Disparate impact (probability of favorable outcome for unprivileged instances / probability of favorable outcome for privileged instances): 0.7802539381486749

In [52]:
# Scaling the data
scaler = StandardScaler()
scaler.fit(train_bld.features)

x_train = scaler.transform(train_bld.features)
y_train = train_bld.labels.ravel()
w_train = train_bld.instance_weights.ravel()

x_val = scaler.transform(val_bld.features)
y_val = val_bld.labels.ravel()

x_test = scaler.transform(test_bld.features)
y_test = test_bld.labels.ravel()

print("Train data:", "x_train", x_train.shape, "y_train", y_train.shape)
print("Validation data:", "x_val", x_val.shape, "y_val", y_val.shape)
print("Test data:", "x_test", x_test.shape, "y_test", y_test.shape)
# Training Logistic Regression model
model = LogisticRegression(solver='liblinear', random_state=1)

LR_model = model.fit(x_train, y_train, sample_weight=train_bld.instance_weights)

y_train_pred = LR_model.predict(x_train)

# positive class index
pos_idx = np.where(LR_model.classes_ == train_bld.favorable_label)[0][0]

train_bld_pred = train_bld.copy()
train_bld_pred = y_train_pred
valid_bld_pred = val_bld.copy(deepcopy=True)
valid_bld_pred.scores = LR_model.predict_proba(x_val)[:, pos_idx].reshape(-1, 1)

test_bld_pred = test_bld.copy(deepcopy=True)
test_bld_pred.scores = LR_model.predict_proba(x_test)[:, pos_idx].reshape(-1, 1)
num_thresh = 100
balanced_acc = np.zeros(num_thresh)
class_threshold = np.linspace(0.01, 0.99, num_thresh)

for idx, class_thresh in enumerate(class_threshold):

    fav_idx = valid_bld_pred.scores > class_thresh
    valid_bld_pred.labels[fav_idx] = valid_bld_pred.favorable_label
    valid_bld_pred.labels[~fav_idx] = valid_bld_pred.unfavorable_label

    # computing metrics based on two BinaryLabelDatasets: a dataset containing groud-truth labels and a dataset containing predictions
    classified_metric_orig_valid = ClassificationMetric(val_bld,
                                                        valid_bld_pred,
                                                        unprivileged_groups=unprivileged_group,
                                                        privileged_groups=privileged_group)

    balanced_acc[idx] = 0.5 * (classified_metric_orig_valid.true_positive_rate() + classified_metric_orig_valid.true_negative_rate())

best_idx = np.where(balanced_acc == np.max(balanced_acc))[0][0]
best_class_thresh = class_threshold[best_idx]

print("Best balanced acuuracy (no fairness constraints) = %.4f" % np.max(balanced_acc))
print("Optimal classification threshold (no fairness constraints) = %.4f" % best_class_thresh)
test_metrics = {
    'balanced accuracy': [],
    'equal opportunity difference': [],
    'average odds difference': [],
    'statistical parity difference': [],
    'Disparate Impact': []
}

print("Classification threshold = %.4f" % best_class_thresh)

Train data: x_train (69644, 65) y_train (69644,)
Validation data: x_val (14924, 65) y_val (14924,)
Test data: x_test (14924, 65) y_test (14924,)
Best balanced acuuracy (no fairness constraints) = 0.5942
Optimal classification threshold (no fairness constraints) = 0.1090
Classification threshold = 0.1090

In [53]:

for thresh in tqdm(class_threshold):

    fav_idx = test_bld_pred.scores > thresh
    test_bld_pred.labels[fav_idx] = test_bld_pred.favorable_label
    test_bld_pred.labels[~fav_idx] = test_bld_pred.unfavorable_label

    classification_metric_orig_test = ClassificationMetric(test_bld,
                                                           test_bld_pred,
                                                           unprivileged_groups=unprivileged_group,
                                                           privileged_groups=privileged_group)

    balanced_acc = 0.5 * (classification_metric_orig_test.true_positive_rate() + classification_metric_orig_test.true_negative_rate())

    acc = classification_metric_orig_test.accuracy()

    eq_opp_diff = classification_metric_orig_test.equal_opportunity_difference()

    avg_odd_diff = classification_metric_orig_test.average_odds_difference()

    spd = classification_metric_orig_test.statistical_parity_difference()

    disparate_impact = classification_metric_orig_test.disparate_impact()

    theil_idx = classification_metric_orig_test.theil_index()

    if thresh == best_class_thresh:
        display(Markdown(" ##### Metrics using the optimal classification threshold on test set"))
        print("Accuracy:", acc)
        print("Balanced Accuracy:", balanced_acc)
        print("Equal opportunity difference", eq_opp_diff)
        print("Average odds difference", avg_odd_diff)
        print("Statistical parity difference", spd)
        print("Disparate Impact", disparate_impact)
        print("Theil index", theil_idx)

    test_metrics['balanced accuracy'].append(balanced_acc)
    test_metrics['equal opportunity difference'].append(classification_metric_orig_test.equal_opportunity_difference())
    test_metrics['average odds difference'].append(classification_metric_orig_test.average_odds_difference())
    test_metrics['statistical parity difference'].append(classification_metric_orig_test.statistical_parity_difference())
    test_metrics['Disparate Impact'].append(classification_metric_orig_test.disparate_impact())

  0%|          | 0/100 [00:00<?, ?it/s]

 ##### Metrics using the optimal classification threshold on test set

 18%|█▊        | 18/100 [00:00<00:00, 169.77it/s]

Accuracy: 0.6402439024390244
Balanced Accuracy: 0.5984143663898036
Equal opportunity difference -0.4471471471471472
Average odds difference -0.3018586775908952
Statistical parity difference -0.18695760332634423
Disparate Impact 0.49629941690682955
Theil index 0.11110999416536257

 68%|██████▊   | 68/100 [00:00<00:00, 152.87it/s]C:\Users\artem\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\aif360\metrics\dataset_metric.py:82: RuntimeWarning: invalid value encountered in scalar divide
  return metric_fun(privileged=False) / metric_fun(privileged=True)
100%|██████████| 100/100 [00:00<00:00, 154.04it/s]